<p class="notification notification-added">
    <span>
        Added to playlist
        <i class="icon-plus"></i>
    </span>
</p>

<p class="notification notification-unfollowed">
    <span>
        Unfollowed
        <i class="icon-minus"></i>
    </span>
</p>

<p class="notification notification-followed">
    <span>
        Followed
        <i class="icon-plus"></i>
    </span>
</p>

<p class="notification notification-flagged">
    <span>
        Flagged
        <i class="icon-flag"></i>
    </span>
</p>