<p class="sash event">
    <i class="icon-calendar"></i>
</p>

<p class="sash video">
    <i class="icon-facetime-video"></i>
</p>

<p class="sash audio">
    <i class="icon-headphones"></i>
</p>

<p class="sash text">
    <i class="icon-file-alt"></i>
</p>