<ul class="statistics pull-left">
    <li class="followings">
        <a href="#followings/{{ pid }}">{{ followingcount }} following</a>
    </li>
    <li class='followers'>
        <a href="#followers/{{ pid }}">{{ followercount }} followers</a>
    </li>
</ul>