<div class="navbar-inner layout-container">
    <a class="navbar-brand pull-left" href="/">
        <i class="icon-ok-circle"></i>
        <i class="icon-time"></i>
        placetime
    </a>

    <a class="navbar-tagline pull-left" href="/">a playlist for your life</a>

    {{#if pid }}
    <ul class="navbar-nav pull-right">
        <li>
            <a data-dropdown=".navbar-dropdown">
                <i class="icon-cog"></i>
            </a>
        </li>
    </ul>
    {{/if}}

    <div class="navbar-dropdown dropdown dropdown-tip dropdown-anchor-right">
        <ul class="dropdown-menu">
            <li>
                <a class="main-hiddenlink" href="#new">
                    <i class="icon-edit"></i>
                    new
                </a>
            </li>
            <li>
                <a class="main-hiddenlink" href="#profile">
                    <i class="icon-user"></i>
                    {{ pid }}
                </a>
            </li>
            <li>
                <a class="main-hiddenlink" href="#logout">
                    <i class="icon-signout"></i>
                    logout
                </a>
            </li>
        </ul>
    </div>
</div>