<h1>login</h1>
<form action="#" method="post">
    <div class="field">
        <label for="name">User name</label>
        <input type="text" name="pid" id="pid" value="">
        <div class="hint"></div>
    </div>

    <div class="field">
        <label for="name">Password</label>
        <input type="password" name="pwd" id="pwd" value="">
        <div class="hint"></div>
    </div>

    <input type="submit" value="Login">
</form>