<h3>New Profile</h3>
<form action="" method="post">
    <div>
        <label for="pid">Profile ID </label>
        <input type="text" name="pid" id="pid" value="">
    </div>

    <div>
        <label for="name">Name </label>
        <input type="text" name="name" id="name" value="">
    </div>

    <div>
        <label for="pwd">Password </label>
        <input type="text" name="pwd" id="pwd" value="">
    </div>

    <div>
        <label for="bio">Bio </label>
        <input type="text" name="bio" id="bio" value="">
    </div>

    <div>
        <input type="submit" value="Save" class="saveBtn">
        <a href="#home">cancel</a>
    </div>
</form>