@import 'compass';

@media only screen and (max-device-width: 480px) {
    
    .item { max-width: 300px; }

	}


html,
body {
    height: 100%;
    overflow: hidden;
    width: 100%;
}

body {
    background-color: #deddd8;
    font-family: 'proxima-nova-1', Helvetica, sans-serif;
}
