@import 'compass';

a {
    color: #000000;
    text-decoration: none;
}

h1 {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 5px;
}

h2 {
    font-size: 18px;
    font-weight: normal;
}

h3 {
    font-size: 18px;
    font-weight: normal;
}
