/* Mobile */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

}

/* Tablet */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

}

html { height: 100%; }
body { font-family: "proxima-nova-1","proxima-nova-2"; background: #deddd8; }

/* structure: 
#itemlist 
    .main-header 
      .main-topbaritems 
        .main-newitem 
    #main
      .main-alltimelinecol 
        .main-timelineheader 
        .content-primary + #itemslist
      .main-mytimelinecol
        .main-timelineheader
        .content-primary + #myitemslist

*/

#itemlist { max-width: 1000px; height: 100%; margin-left: auto; margin-right: auto; }
  .main-header { z-index: 10; position:fixed; left:0px; top:0px; margin-bottom: 20px; height: 45px; background: #aaa; border-bottom: 8px solid #ccc; box-shadow: 0px 4px 5px #888888; position:fixed; width: 100%; top:0px; left: 0px; }
  .main-alltimelinecol { width: 477px; padding-right 5px; position:relative; top:55px; left:0px; }
  .main-mytimelinecol { width: 477px; padding-left: 5px; position:relative; top:55px; left:477px; }
    .main-alltimelineheader, .main-mytimelineheader { z-index: 5; height: 39px; width: 477px; position: fixed; top: 55px; left: 0px; border-bottom: 2px solid #000; background-color:rgba(255,255,255,0.5); }
    #itemslist { position:absolute; z-index:1; width: 477px; top:46px; height: 500px; bottom:0px;}
    #myitemslist { position:absolute; top:46px; width: 477px; overflow: hidden; }
  #footer { position:fixed; left:0px; bottom:0px; height:30px; width:100%; background:#999; }

/* general styles */    

div { border: 0px solid #ddd; }
a { text-decoration: none; color: #000; }
p { margin: 2px; padding: 0px; }
.main-h1 { margin-bottom: 5px; }
img {
    filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome & Safari 6+ */
    background-color: rgba(100%, 100%, 100%, 0.5);
    border: 1px solid #dddddd;
}
img:hover { filter: none; -webkit-filter: grayscale(0); }
.icon-ok, .icon-remove { text-shadow: 0.1em 0.1em 0.2em #aaa; font-size: 22px; }
.icon-circle-arrow-up, .icon-circle-arrow-down { text-shadow: 0.1em 0.1em 0.2em #aaa; font-size: 30px; }
a .icon-circle-arrow-up, a .icon-circle-arrow-down, a .icon-ok, a .icon-remove { color: #000; text-decoration: none; }
a:hover .icon-circle-arrow-up, a:hover .icon-circle-arrow-down, a:hover .icon-ok, a:hover .icon-remove:hover { color: #ff6600; text-decoration: none; }
.sort-menu { float: right; margin-top: 4px; margin-right: 5px; }

/*element styles */

#login, #register { 
	background: #fff; 
	font-size: 13px; 
	padding: 20px;  
	-moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px; 
        z-index: 1500; 
        box-shadow: 3px 3px 4px #888888;
        }
        
.timelineitem, .mytimelineitem, .timelinecalitem, .mytimelinecalitem {
        background: #fff;
	margin-bottom: 7px;  
	-moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px; 
        z-index: 1500; 
        box-shadow: 1px 1px 2px #aaa;
        padding: 15px;
	
}

.timelineitem:hover, .mytimelineitem:hover, .timelinecalitem:hover, .mytimelinecalitem:hover {
	background: #f3f3f3;
	box-shadow: 0px 0px 0px #aaa;
}

.mytimelineitem, .mytimelinecalitem {
	background: #eeeeee;
	box-shadow: 0px 0px 0px #aaa;
}
 
  .main-topbaritems { width: 1000px; margin-left: auto; margin-right: auto; margin-top:10px; }
  .ui-content .ui-listview { margin: 0; }
/* close change for mobile */


.main-logo {
	font-family: "proxima-nova-soft-1","proxima-nova-soft-2",sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size:23px;
        color: #fff;
        margin-left: 20px;
        text-shadow: none;
        font-stretch: expanded;
}


.main-strapline {
	font-family: "proxima-nova-1","proxima-nova-2",sans-serif;
        font-style: normal;
        font-size:14px;
        color: #ededed;
        margin-left: 20px;
        text-shadow: none;
        font-weight: 400;
}

.main-timelineheadertext {position: absolute; bottom: 0px; left: 0px; }
.main-timelinetitle { font-size: 17px; color: #000; padding: 4px;  }
.main-timelinestrapline { font-size: 13px; color: #999; }
.main-itemusername { font-size: 13px; color: #aaa; }
.main-itemtext{ font-size: 22px; }
.main-itemtime { font-size: 12px; color: #aaa; }
.main-itemlink a { font-size: 13px; color: #aaa; }
.main-newitem { position: absolute; top: 10px; right: 50%; margin-right: -450px; color: #fff; }
.main-newitem a { color: #fff; }

.timestamp { color: #000; }

/* forms */

#pid, #pwd, #name {
    display: inline-block;
    padding: 8px 8px;
    height: 18px;
    line-height: 18px;
    font-size: 18px;
    color: #4B4B4B;
    background: #deddd8;
    width: 200px;
    margin-top: 4px;
    margin-bottom: 4px;
    border: 0px;
    box-shadow: inset 1px 1px 3px #666;
    vertical-align: middle;
}

.loginBtn, .submitBtn {
	font-size: 14px;
	color: #000;
	padding: 10px;
	background: #ccc;
	border: 2px solid #eee;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow:
		2px 2px 4px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(204,204,204,1);
	-webkit-box-shadow:
		2px 2px 4px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(204,204,204,1);
	box-shadow:
		2px 2px 4px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(204,204,204,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,0.3);
        margin: 8px 0px 4px 4px;
        width: 85px;
}

.loginBtn:hover, .submitBtn:hover {
	background: #fff;
	border: 2px solid #666;
}

.loginBtn:active, .submitBtn:active {
	background: #ccc;
	border: 2px solid #ff9900;
}

.promotebtn {
	padding: 10px 7px 5px 7px;
	position: relative;
	top: -9px;
	right: -405px;
}

.demotebtn {
	padding: 11px 8px 4px 9px;
        position: relative;
	top: -9px;
	right: -405px;
}

.promotebtn, .demotebtn {
	color: #ffffff;
	background: -moz-linear-gradient(
		top,
		#deddd8 0%,
		#deddd8);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#deddd8),
		to(#deddd8));
	-moz-border-radius: 31px;
	-webkit-border-radius: 31px;
	border-radius: 31px;
	border: 4px solid #555555;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 1px 1px 5px rgba(51,51,51,0.6);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 1px 1px 5px rgba(51,51,51,0.6);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 1px 1px 5px rgba(51,51,51,0.6);
	text-shadow:
		0px -1px 0px rgba(000,000,000,1),
		0px 1px 0px rgba(255,255,255,0.2);
}

label {
	border: 0px solid;
	background: #eee;
	border-right: 0px;
	height: 18px;
	padding: 8px 8px;
	text-align: center;
	display: inline-block;
	width: 85px;
	margin: 4px 4px 4px 0px;
	vertical-align: middle;
}

#registerlink {
	color: #000;
	margin-top: 10px;
}

#registerlink a {
	border-bottom: 3px solid #ff6600;
	font-size: 18px;
	margin-left: 5px;
}

