@import 'compass';

@import 'extensions';
@import 'global';
@import 'utilities';
@import 'scaffolding';
@import 'form';

// Page level elements
.page {
    &.header {
        position: relative;
        z-index: 100;
    }

    &.content {
        padding-top: 54px;

        a {
            color: #000000;
            border-bottom: 2px solid #ff6600;
            text-decoration: none;
        }

        h1 {
            font-size: 16px;
            font-weight: normal;
            margin-bottom: 5px;
        }
    }
}


.login {
    text-align: center;
    width: 358px;

    .hint {
        padding-left: 136px;
        text-align: left;
    }
}



.timelines {
    margin: 0 auto;

    .column {
        float: left;

        &.public {
            width: 60%;
        }

        &.private {
            width: 40%;
        }
    }
}

// Timeline
.container-wide {
    .timeline.public {
        padding: 0 4px 0 8px;
    }

    .timeline.private {
        padding: 0 8px 0 4px;
    }
}

.timeline {
    position: relative;

    &.view-followings,
    &.view-followers {
        .header {
            .now {
                opacity: 0;
            }
        }
    }

    .header {
        background-color: rgba(255, 255, 255, 0.80);
        border-bottom: 0px solid #000;
        height: 39px;
        position: absolute;
        top: 0;
        width: 98%;
        width: -moz-calc(100% - 12px);
        width: -webkit-calc(100% - 12px);
        width: calc(100% - 12px);
        z-index: 3;
        @include box-shadow(
            0px 2px 3px #666
         );

        .title {
            color: #fff;
            font-size: 14px;
            font-weight: normal;
            margin: 12px 6px 4px 15px;
            padding: 0;
        }

        .search,
        .add {
            font-size: 14px;
            height: 17px;
            padding: 4px 12px;
            margin-top: 7px;
        }

        .add {
            margin-left: 18px;
        }

        .submit {
            font-size: 12px;
            margin-left: 10px;
            padding: 3px 7px;
        }


        // Now
        .now {
            @include single-transition(opacity, 0.5s, ease-in-out);

            border-bottom: 0;
            font-size: 11px;
            margin: 4px 18px 0 0;
            opacity: 1;

            &:hover {
                .icon-repeat {
                    color: #000000;
                }
            }

            &:active {
                .icon-repeat {
                    color: #ff6600;
                }
            }

            .icon-repeat {
                @include single-text-shadow(
                    rgba(0, 0, 0, 0.5), 2px, 2px, 4px
                );
                color: #555555;
                font-size: 30px;
            }
        }
    }

    .nav {
        font-size: 14px;
        margin: 8px 12px;


        li {
            margin-right: 15px;

            &.active {
                a {
                    color: #ff6600;
                }
            }

            a {
                border-bottom: 0;
            }
        }
    }


    .scroller {
        position: relative;
        height: 100%;
        width: 100%;
    }

    .children {
        position: relative;

        padding-top: 38px;
    }

    .items,
    .followers,
    .followings {
        padding-top: 5px;

        .item {
            .icon,
            .username,
            .text,
            .time,
            .link,
            .button {
                position: relative;
                z-index: 2;
            }

            .text,
            .bio,
            .link,
            .statistics,
            .time {
                width: 100%;

                a {
                    border-bottom: 0;
                }
            }

            .icon {
                img {
                    @include border-radius(25px);
                    border: 3px solid #ffffff;
                }
            }


            .username {
                font-size: 14px;
                margin: 15px 12px;

                a {
                    border-bottom: 0;
                }
            }


            .text,
            .bio {
                font-size: 22px;
                margin: 0;
            }

            .button {
                @include border-radius(31px);
                @include box-shadow(
                    rgba(000, 000, 000, 0.5) 0px 1px 3px,
                    rgba(51, 51, 51, 0.6) 1px 1px 5px 0px inset
                );
                @include text-shadow(
                    #aaa 0.1em 0.1em 0.2em
                );
                @include background(
                    linear-gradient(top, #deddd8, #deddd8)
                );
                color: #000;
                cursor: pointer;
                border: 4px solid #fff;
                bottom: 10px;
                font-size: 22px;
                position: absolute;
                right: 10px;

                &:hover {
                    color: #ffffff;
                }

                &:active {
                    color: #ff6600;
                }
            }
        }
    }


    // Following and followers view
    .followings,
    .followers {
        .item {
            @include border-radius(2px);
            @include single-box-shadow(
                #aaaaaa, 1px, 1px, 2px
            );
            background-color: #fff;
            margin: 0 0 7px;
            overflow: hidden;
            padding: 15px;
            position: relative;

            .username {
                color: #000000;
            }

            .icon {
                img {
                    border-color: #999;
                }
            }

            .bio {
                margin-bottom: 15px;

                .name {
                    color: #ff6600;
                }
            }

            .statistics {
                list-style: none;
                margin: 0;
                padding: 0;

                .followings,
                .followers {
                    display: inline;
                }

                .followings {
                    padding-right: 15px;
                }
            }

            .unfollow {
                padding: 7px 9px 3px 10px;
            }

            .follow {
                padding: 6px 9px 3px 9px;
            }
        }
    }


    // Items view
    .items {
        .item {
            @include border-radius(2px);
            @include single-box-shadow(
                #aaaaaa, 1px, 1px, 2px
            );
            background-color: #aaaaaa;
            background-size: cover;
            margin: 0 0 7px;
            overflow: hidden;
            padding: 15px;
            position: relative;

            &:hover {
                @include single-box-shadow(
                    #aaaaaa, 0px, 0px, 0px
                );
                background-color: #999;
            }

            &.empty {
                p {
                    margin: 0;
                }
            }

            &.image {
                .overlay {
                    display: block;
                }
            }

            &.promoted {
                .overlay {
                    @include single-transition(
                        background-color, 1s, linear
                    );

                    background-color: rgba(255, 255, 255, 0.65);
                    display: block;
                    z-index: 3;
                }

                .promote {
                    @include single-transition(
                        opacity, 500ms
                    );

                    opacity: 0;
                }

                .added.sash {
                    @include single-transition(
                        opacity, 1s
                    );

                    display: block;
                    opacity: 1;
                }
            }

            &.event {
                .event.sash {
                    @include single-transition(
                        opacity, 1s
                    );
                    opacity: 1;
                }
            }

            .overlay {
                background-color: rgba(15, 15, 15, 0.4);
                display: none;
                left: 0;
                opacity: 1;
                position: absolute;
                top: 0;
                height: 100%;
                width: 100%;
                z-index: 1;
            }

            .sash {
                border-style: solid;
                color: #ffffff;
                height: 0px;
                opacity: 0;
                line-height: 0px;
                margin: 0;
                position: absolute;
                right: 0;
                width: 0;
                z-index: 2;

                &.event {
                    border-color: transparent #ff6600 transparent transparent;
                    border-width: 0 48px 48px 0;
                    font-size: 14px;
                    top: 0;
                    width: 120px;
                }

                &.added {
                    border-color: transparent transparent #ff6600 transparent;
                    border-width: 0 0 24px 24px;
                    bottom: 0;
                    font-size: 12px;
                    text-align: right;
                    width: 120px;
                    z-index: 3;

                    span {
                        display: inline-block;
                        padding: 6px;
                    }
                }

                .icon-plus {
                    padding-left: 6px;
                }

                .icon-calendar {
                    position: absolute;
                    right: -42px;
                    top: 5px;
                }
            }

            .username {
                a {
                    color: #ddd;
                }
            }

            .text {
                a {
                    color: #fff;
                }
            }

            .link {
                margin: 8px 0 6px;

                a {
                    font-size: 25px;
                    color: #ddd;
                }
            }

            .time {
                margin: 0;

                .event {
                    color: #ff6600;
                }

                a {
                    color: #eee;
                    font-size: 13px;
                }
            }

            .promote {
                padding: 6px 7px 5px 8px;
            }

            .demote {
                padding: 6px 9px 5px 10px;
            }
        }
    }


    // Needle
    .needle {
        border-bottom: 1px solid #333333;
        border-top: 1px solid #ffffff;
        height: 0px;
        left: 8px;
        position: absolute;
        top: 50%;
        width: calc(100% - 12px);
        opacity: 0.7;
        @include single-box-shadow(
                rgba(0, 0, 0, 0.7), 0px, 2px, 3px
            );
        .date {
            @include border-radius(5px);
            @include single-box-shadow(
                rgba(0, 0, 0, 0.7), 1px, 2px, 4px
            );
            background-color: #ffffff;
            color: #000000;
            font-size: 14px;
            left: 50%;
            height: 16px;
            padding: 4px 0;
            position: absolute;
            margin-left: -100px;
            text-align: center;
            top: -14px;
            width: 200px;
            border: 1px solid #ffffff;
        }

        .now {
            color: #ff6600;
            font-weight: bold;
            text-transform: uppercase;
        }

        .future {
            margin-left: 10px;
        }

        .past {
            margin-right: 10px;
        }
    }


    .load-more,
    .no-results {
        @include single-box-shadow(
            rgba(0, 0, 0, 0.25), 0px 2px 2px
        );

        background-color: #ff6600;
        border-radius: 10px;
        color: #fff;
        font-size: 12px;
        margin-bottom: 10px;
        padding-top: 5px;
        height: 20px;
        text-align: center;
        width: 100%;
    }

    .load-more {
        cursor: pointer;
    }
}


.scrollbarV,
.scrollbarH {
    position: absolute;
    z-index: 100;
}

.scrollbarV {
    bottom: 7px;
    top: 2px;
    right: 1px;
    width: 8px;
}

.scrollbarV > div {
    @include border-radius(2px);

    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
}
