@import 'compass';

@import 'bases/base';
@import 'bases/form';
@import 'bases/typography';

@import 'layouts/container';
@import 'layouts/content';
@import 'layouts/header';
@import 'layouts/timelines';

@import 'modules/username';
@import 'modules/duration';
@import 'modules/collection';
@import 'modules/form';
@import 'modules/item';
@import 'modules/item-add';
@import 'modules/item-empty';
@import 'modules/login';
@import 'modules/navigation';
@import 'modules/needle';
@import 'modules/profile';
@import 'modules/register';
@import 'modules/notifications';
@import 'modules/sash';
@import 'modules/timeline';
@import 'modules/suggestions';
@import 'modules/now';
@import 'modules/loading';
@import 'modules/no-results';


@import 'states/item';

@import 'utilities';
@import 'vendor';



.route-login,
.route-logout,
.route-register {
    background-image: url('/-assets/images/numbers.jpg');
}

@media only screen and (max-width: 767px), screen and (max-device-width : 767px) {
    .timeline-public { padding 0 1% 0 1%; }
    .item { padding: 2%; width: 96%;}
    .navbar-tagline, .form { display: none; }
    .layout-container-wide { min-width: 300px; }
    .layout-column.public, .layout-column.private, .now-separator, .navbar-inner, .needle, .timeline-header { width: 98%; }
	}
	


