/* line 4, scss/global.scss */
html,
body {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

/* line 10, scss/global.scss */
body {
  background-color: #deddd8;
}

/* line 14, scss/global.scss */
a {
  text-decoration: none;
}
