.nav {
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav.nav-inline li {
  display: inline-block;
}
.nav a {
  cursor: pointer;
  display: inline-block;
}
.nav li [class^="icon-"],
.nav li [class*=" icon-"] {
  width: auto;
}
