/* line 4, scss/global.scss */
html,
body {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

/* line 10, scss/global.scss */
body {
  background-color: #deddd8;
}

/* line 14, scss/global.scss */
a {
  text-decoration: none;
}

/* line 3, scss/utilities.scss */
.pull-left {
  float: left;
}

/* line 7, scss/utilities.scss */
.pull-right {
  float: right;
}

/* line 4, scss/scaffolding.scss */
.container {
  margin: 0 auto;
  width: 960px;
}

/* line 9, scss/scaffolding.scss */
.container-wide {
  margin: 0 auto;
  max-width: 1300px;
  width: 100%;
}

/* line 17, scss/scaffolding.scss */
.navbar {
  -webkit-box-shadow: 0px 4px 5px #444444;
  -moz-box-shadow: 0px 4px 5px #444444;
  box-shadow: 0px 4px 5px #444444;
  background-color: #868681;
  border-bottom: 8px solid #ccc;
  height: 45px;
  width: 100%;
}
/* line 24, scss/scaffolding.scss */
.navbar.navbar-fixed {
  position: fixed;
  top: 0;
}
/* line 29, scss/scaffolding.scss */
.navbar .navbar-inner {
  overflow: hidden;
}
/* line 33, scss/scaffolding.scss */
.navbar .brand {
  color: #ffffff;
  font-size: 23px;
  margin: 8px 0 0 22px;
}
/* line 38, scss/scaffolding.scss */
.navbar .brand .icon-ok-circle {
  margin-right: -3px;
}
/* line 43, scss/scaffolding.scss */
.navbar .brand .icon-ok-circle,
.navbar .brand .icon-time {
  color: #555555;
  font-size: 30px;
  float: left;
  margin-top: 0px;
}
/* line 50, scss/scaffolding.scss */
.navbar .brand .icon-time {
  margin-right: 10px;
}
/* line 55, scss/scaffolding.scss */
.navbar .tagline {
  color: #ededed;
  font-size: 14px;
  margin: 16px 0 0 25px;
}
/* line 61, scss/scaffolding.scss */
.navbar .nav {
  margin: 5px 25px 0;
}
/* line 65, scss/scaffolding.scss */
.navbar .nav .icon-cog {
  font-size: 33px;
}
/* line 72, scss/scaffolding.scss */
.navbar .dropdown .icon-edit,
.navbar .dropdown .icon-signout {
  font-size: 20px;
}

/* line 80, scss/scaffolding.scss */
.nav {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 86, scss/scaffolding.scss */
.nav.nav-inline li {
  display: inline-block;
}
/* line 91, scss/scaffolding.scss */
.nav a {
  cursor: pointer;
  display: inline-block;
}
/* line 97, scss/scaffolding.scss */
.nav li [class^="icon-"],
.nav li [class*=" icon-"] {
  width: auto;
}

/* line 3, scss/form.scss */
label {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background-color: #eee;
  border: 0px;
  display: inline-block;
  font-size: 13px;
  height: 18px;
  padding: 12px 12px;
  margin: 4px 4px 4px 0px;
  text-align: center;
  vertical-align: middle;
  width: 100px;
}

/* line 17, scss/form.scss */
input {
  outline: none;
}

/* line 24, scss/form.scss */
input[type=text],
input[type=password],
input[type=search],
input[type=url] {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 1px 1px 3px 0px #666666;
  -moz-box-shadow: inset 1px 1px 3px 0px #666666;
  box-shadow: inset 1px 1px 3px 0px #666666;
  -webkit-transition: border 0.2s linear, box-shadow 0.2s linear;
  -moz-transition: border 0.2s linear, box-shadow 0.2s linear;
  -o-transition: border 0.2s linear, box-shadow 0.2s linear;
  transition: border 0.2s linear, box-shadow 0.2s linear;
  background-color: #deddd8;
  border: 0px;
  color: #4B4B4B;
  display: inline-block;
  font-size: 18px;
  height: 18px;
  margin: 4px 0;
  padding: 12px 12px;
  vertical-align: middle;
  width: 200px;
}

/* line 44, scss/form.scss */
input[type=submit] {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 4px, #cccccc 0px 0px 1px 0px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 4px, #cccccc 0px 0px 1px 0px inset;
  box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 4px, #cccccc 0px 0px 1px 0px inset;
  text-shadow: rgba(0, 0, 0, 0.2) 0px -1px 0px, rgba(255, 255, 255, 0.3) 0px 1px 0px;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  background-color: #cccccc;
  border: 2px solid #eeeeee;
  color: #000000;
  font-size: 14px;
  margin: 8px 10px 4px 0px;
  padding: 12px;
}
/* line 63, scss/form.scss */
input[type=submit]:hover {
  background-color: #fff;
  border: 2px solid #666666;
}
/* line 68, scss/form.scss */
input[type=submit]:active {
  -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0 1px 4px 0px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.6) 0 1px 4px 0px inset;
  box-shadow: rgba(0, 0, 0, 0.6) 0 1px 4px 0px inset;
  background-color: #cccccc;
  border: 2px solid #ff9900;
}
/* line 76, scss/form.scss */
input[type=submit].wide {
  width: 100%;
}

/* line 12, scss/user.scss */
.page.header {
  position: relative;
  z-index: 100;
}
/* line 17, scss/user.scss */
.page.content {
  padding-top: 54px;
}
/* line 20, scss/user.scss */
.page.content a {
  color: #000000;
  border-bottom: 2px solid #ff6600;
  text-decoration: none;
}
/* line 26, scss/user.scss */
.page.content h1 {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 5px;
}

/* line 35, scss/user.scss */
.login {
  text-align: center;
  width: 358px;
}
/* line 39, scss/user.scss */
.login .hint {
  padding-left: 136px;
  text-align: left;
}

/* line 47, scss/user.scss */
.timelines {
  margin: 0 auto;
}
/* line 50, scss/user.scss */
.timelines .column {
  float: left;
  width: 50%;
}

/* line 58, scss/user.scss */
.container-wide .timeline.public {
  padding: 0 4px 0 8px;
}
/* line 62, scss/user.scss */
.container-wide .timeline.private {
  padding: 0 8px 0 4px;
}

/* line 67, scss/user.scss */
.timeline {
  position: relative;
}
/* line 73, scss/user.scss */
.timeline.view-followings .header .now, .timeline.view-followers .header .now {
  opacity: 0;
}
/* line 79, scss/user.scss */
.timeline .header {
  background-color: rgba(125, 125, 119, 0.8);
  border-bottom: 0px solid #000;
  height: 39px;
  position: absolute;
  top: 0;
  width: calc(100% - 12px);
  z-index: 3;
}
/* line 88, scss/user.scss */
.timeline .header .title {
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  margin: 12px 6px 4px 15px;
  padding: 0;
}
/* line 97, scss/user.scss */
.timeline .header .search,
.timeline .header .add {
  font-size: 14px;
  height: 17px;
  padding: 4px 12px;
  margin-top: 7px;
}
/* line 104, scss/user.scss */
.timeline .header .add {
  margin-left: 18px;
}
/* line 110, scss/user.scss */
.timeline .header .now {
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  border-bottom: 0;
  font-size: 11px;
  margin: 4px 18px 0 0;
  opacity: 1;
}
/* line 119, scss/user.scss */
.timeline .header .now:hover .icon-repeat {
  color: #000000;
}
/* line 125, scss/user.scss */
.timeline .header .now:active .icon-repeat {
  color: #ff6600;
}
/* line 130, scss/user.scss */
.timeline .header .now .icon-repeat {
  text-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
  color: #ffffff;
  font-size: 30px;
}
/* line 140, scss/user.scss */
.timeline .nav {
  font-size: 14px;
  margin: 8px 12px;
}
/* line 145, scss/user.scss */
.timeline .nav li {
  margin-right: 15px;
}
/* line 149, scss/user.scss */
.timeline .nav li.active a {
  color: #ffffff;
}
/* line 154, scss/user.scss */
.timeline .nav li a {
  border-bottom: 0;
}
/* line 161, scss/user.scss */
.timeline .scroller {
  position: relative;
  height: 100%;
  width: 100%;
}
/* line 167, scss/user.scss */
.timeline .children {
  position: relative;
}
/* line 173, scss/user.scss */
.timeline .items,
.timeline .followers,
.timeline .followings {
  padding-top: 5px;
}
/* line 182, scss/user.scss */
.timeline .items .item .icon,
.timeline .items .item .username,
.timeline .items .item .text,
.timeline .items .item .time,
.timeline .items .item .link,
.timeline .items .item .button,
.timeline .followers .item .icon,
.timeline .followers .item .username,
.timeline .followers .item .text,
.timeline .followers .item .time,
.timeline .followers .item .link,
.timeline .followers .item .button,
.timeline .followings .item .icon,
.timeline .followings .item .username,
.timeline .followings .item .text,
.timeline .followings .item .time,
.timeline .followings .item .link,
.timeline .followings .item .button {
  position: relative;
  z-index: 2;
}
/* line 191, scss/user.scss */
.timeline .items .item .text,
.timeline .items .item .bio,
.timeline .items .item .link,
.timeline .items .item .statistics,
.timeline .items .item .time,
.timeline .followers .item .text,
.timeline .followers .item .bio,
.timeline .followers .item .link,
.timeline .followers .item .statistics,
.timeline .followers .item .time,
.timeline .followings .item .text,
.timeline .followings .item .bio,
.timeline .followings .item .link,
.timeline .followings .item .statistics,
.timeline .followings .item .time {
  width: 100%;
}
/* line 194, scss/user.scss */
.timeline .items .item .text a,
.timeline .items .item .bio a,
.timeline .items .item .link a,
.timeline .items .item .statistics a,
.timeline .items .item .time a,
.timeline .followers .item .text a,
.timeline .followers .item .bio a,
.timeline .followers .item .link a,
.timeline .followers .item .statistics a,
.timeline .followers .item .time a,
.timeline .followings .item .text a,
.timeline .followings .item .bio a,
.timeline .followings .item .link a,
.timeline .followings .item .statistics a,
.timeline .followings .item .time a {
  border-bottom: 0;
}
/* line 200, scss/user.scss */
.timeline .items .item .icon img,
.timeline .followers .item .icon img,
.timeline .followings .item .icon img {
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
  border: 3px solid #ffffff;
}
/* line 207, scss/user.scss */
.timeline .items .item .username,
.timeline .followers .item .username,
.timeline .followings .item .username {
  font-size: 14px;
  margin: 15px 12px;
}
/* line 211, scss/user.scss */
.timeline .items .item .username a,
.timeline .followers .item .username a,
.timeline .followings .item .username a {
  border-bottom: 0;
}
/* line 218, scss/user.scss */
.timeline .items .item .text,
.timeline .items .item .bio,
.timeline .followers .item .text,
.timeline .followers .item .bio,
.timeline .followings .item .text,
.timeline .followings .item .bio {
  font-size: 22px;
  margin: 0;
}
/* line 223, scss/user.scss */
.timeline .items .item .button,
.timeline .followers .item .button,
.timeline .followings .item .button {
  -webkit-border-radius: 31px;
  -moz-border-radius: 31px;
  -ms-border-radius: 31px;
  -o-border-radius: 31px;
  border-radius: 31px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px, rgba(51, 51, 51, 0.6) 1px 1px 5px 0px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px, rgba(51, 51, 51, 0.6) 1px 1px 5px 0px inset;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px, rgba(51, 51, 51, 0.6) 1px 1px 5px 0px inset;
  text-shadow: #aaaaaa 0.1em 0.1em 0.2em;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #deddd8), color-stop(100%, #deddd8));
  background: -webkit-linear-gradient(top, #deddd8, #deddd8);
  background: -moz-linear-gradient(top, #deddd8, #deddd8);
  background: -o-linear-gradient(top, #deddd8, #deddd8);
  background: linear-gradient(top, #deddd8, #deddd8);
  color: #000;
  cursor: pointer;
  border: 4px solid #fff;
  bottom: 10px;
  font-size: 22px;
  position: absolute;
  right: 10px;
}
/* line 243, scss/user.scss */
.timeline .items .item .button:hover,
.timeline .followers .item .button:hover,
.timeline .followings .item .button:hover {
  color: #ffffff;
}
/* line 247, scss/user.scss */
.timeline .items .item .button:active,
.timeline .followers .item .button:active,
.timeline .followings .item .button:active {
  color: #ff6600;
}
/* line 258, scss/user.scss */
.timeline .followings .item,
.timeline .followers .item {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 1px 1px 2px #aaaaaa;
  -moz-box-shadow: 1px 1px 2px #aaaaaa;
  box-shadow: 1px 1px 2px #aaaaaa;
  background-color: #fff;
  margin: 0 0 7px;
  overflow: hidden;
  padding: 15px;
  position: relative;
}
/* line 269, scss/user.scss */
.timeline .followings .item .username,
.timeline .followers .item .username {
  color: #000000;
}
/* line 274, scss/user.scss */
.timeline .followings .item .icon img,
.timeline .followers .item .icon img {
  border-color: #999;
}
/* line 279, scss/user.scss */
.timeline .followings .item .bio,
.timeline .followers .item .bio {
  margin-bottom: 15px;
}
/* line 282, scss/user.scss */
.timeline .followings .item .bio .name,
.timeline .followers .item .bio .name {
  color: #ff6600;
}
/* line 287, scss/user.scss */
.timeline .followings .item .statistics,
.timeline .followers .item .statistics {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 293, scss/user.scss */
.timeline .followings .item .statistics .followings,
.timeline .followings .item .statistics .followers,
.timeline .followers .item .statistics .followings,
.timeline .followers .item .statistics .followers {
  display: inline;
}
/* line 297, scss/user.scss */
.timeline .followings .item .statistics .followings,
.timeline .followers .item .statistics .followings {
  padding-right: 15px;
}
/* line 302, scss/user.scss */
.timeline .followings .item .unfollow,
.timeline .followers .item .unfollow {
  padding: 7px 9px 3px 10px;
}
/* line 306, scss/user.scss */
.timeline .followings .item .follow,
.timeline .followers .item .follow {
  padding: 6px 9px 3px 9px;
}
/* line 315, scss/user.scss */
.timeline .items .item {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 1px 1px 2px #aaaaaa;
  -moz-box-shadow: 1px 1px 2px #aaaaaa;
  box-shadow: 1px 1px 2px #aaaaaa;
  background-color: #aaaaaa;
  background-size: cover;
  margin: 0 0 7px;
  overflow: hidden;
  padding: 15px;
  position: relative;
}
/* line 327, scss/user.scss */
.timeline .items .item:hover {
  -webkit-box-shadow: 0px 0px 0px #aaaaaa;
  -moz-box-shadow: 0px 0px 0px #aaaaaa;
  box-shadow: 0px 0px 0px #aaaaaa;
  background-color: #999;
}
/* line 334, scss/user.scss */
.timeline .items .item.now {
  background-image: none !important;
  background-color: #ffffff;
}
/* line 345, scss/user.scss */
.timeline .items .item.now .text a,
.timeline .items .item.now .username,
.timeline .items .item.now .time a,
.timeline .items .item.now .time i,
.timeline .items .item.now .time .timestamp,
.timeline .items .item.now .link i {
  color: #000000;
}
/* line 349, scss/user.scss */
.timeline .items .item.now .icon img {
  border-color: #000000;
}
/* line 354, scss/user.scss */
.timeline .items .item .overlay {
  background-color: rgba(15, 15, 15, 0.4);
  left: 0;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}
/* line 364, scss/user.scss */
.timeline .items .item .username {
  color: #ddd;
}
/* line 369, scss/user.scss */
.timeline .items .item .text a {
  color: #fff;
}
/* line 374, scss/user.scss */
.timeline .items .item .link {
  margin: 8px 0 0;
}
/* line 377, scss/user.scss */
.timeline .items .item .link a {
  font-size: 25px;
  color: #ddd;
}
/* line 383, scss/user.scss */
.timeline .items .item .time {
  margin: 0;
}
/* line 386, scss/user.scss */
.timeline .items .item .time .event {
  color: #ff6600;
}
/* line 390, scss/user.scss */
.timeline .items .item .time a {
  color: #eee;
  font-size: 13px;
}
/* line 396, scss/user.scss */
.timeline .items .item .promote {
  padding: 6px 7px 5px 8px;
}
/* line 400, scss/user.scss */
.timeline .items .item .demote {
  padding: 6px 9px 5px 10px;
}
/* line 408, scss/user.scss */
.timeline .needle {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
  border-bottom: 1px solid #333333;
  border-top: 1px solid #ffffff;
  position: absolute;
  top: 50%;
  height: 0px;
  width: calc(100% - 12px);
}
/* line 418, scss/user.scss */
.timeline .needle .date {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  background-color: #444444;
  color: #ffffff;
  font-size: 14px;
  left: 50%;
  height: 16px;
  padding: 4px 0;
  position: absolute;
  margin-left: -100px;
  text-align: center;
  top: -12px;
  width: 200px;
}
/* line 437, scss/user.scss */
.timeline .needle .now {
  color: #ff6600;
}
/* line 441, scss/user.scss */
.timeline .needle .future {
  margin-left: 5px;
}
/* line 445, scss/user.scss */
.timeline .needle .past {
  margin-right: 5px;
}
/* line 452, scss/user.scss */
.timeline .load-more,
.timeline .no-results {
  -webkit-box-shadow: 0px 2px 2px 0px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 2px 2px 0px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 2px 0px 5px rgba(0, 0, 0, 0.25);
  background-color: #ff6600;
  border-radius: 10px;
  color: #fff;
  font-size: 12px;
  margin-bottom: 10px;
  padding-top: 5px;
  height: 20px;
  text-align: center;
  width: 100%;
}
/* line 468, scss/user.scss */
.timeline .load-more {
  cursor: pointer;
}
