html,
body {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

body {
  background-color: #deddd8;
  font-family: 'proxima-nova-1', Helvetica, sans-serif;
}

label {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background-color: #eee;
  border: 0px;
  display: inline-block;
  font-size: 13px;
  height: 18px;
  padding: 12px 12px;
  margin: 4px 4px 4px 0px;
  text-align: center;
  vertical-align: middle;
  width: 100px;
}

input {
  outline: none;
}

input[type=text],
input[type=email],
input[type=password],
input[type=search],
input[type=date],
input[type=url] {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 1px 1px 3px 0px #666666;
  -moz-box-shadow: inset 1px 1px 3px 0px #666666;
  box-shadow: inset 1px 1px 3px 0px #666666;
  -webkit-transition: border 0.2s linear, box-shadow 0.2s linear;
  -moz-transition: border 0.2s linear, box-shadow 0.2s linear;
  -o-transition: border 0.2s linear, box-shadow 0.2s linear;
  transition: border 0.2s linear, box-shadow 0.2s linear;
  background-color: #deddd8;
  border: 0px;
  color: #4B4B4B;
  display: inline-block;
  font-size: 18px;
  height: 18px;
  margin: 4px 0;
  padding: 12px 12px;
  vertical-align: middle;
  width: 200px;
}

button,
input[type=button],
input[type=submit] {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 4px, #cccccc 0px 0px 1px 0px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 4px, #cccccc 0px 0px 1px 0px inset;
  box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 4px, #cccccc 0px 0px 1px 0px inset;
  text-shadow: rgba(0, 0, 0, 0.2) 0px -1px 0px, rgba(255, 255, 255, 0.3) 0px 1px 0px;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  background-color: #cccccc;
  border: 2px solid #eeeeee;
  color: #000000;
  font-size: 14px;
  margin: 8px 10px 4px 0px;
  padding: 12px;
}
button:hover,
input[type=button]:hover,
input[type=submit]:hover {
  background-color: #fff;
  border: 2px solid #666666;
}
button:active,
input[type=button]:active,
input[type=submit]:active {
  -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0 1px 4px 0px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.6) 0 1px 4px 0px inset;
  box-shadow: rgba(0, 0, 0, 0.6) 0 1px 4px 0px inset;
  background-color: #cccccc;
  border: 2px solid #ff9900;
}
button.wide,
input[type=button].wide,
input[type=submit].wide {
  width: 100%;
}

a {
  color: #000000;
  text-decoration: none;
}

h1 {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 5px;
}

.layout-container {
  margin: 0 auto;
  width: 960px;
}

.layout-container-wide {
  margin: 0 auto;
  max-width: 1300px;
  min-width: 1080px;
  width: 100%;
}

.layout-content {
  padding-top: 54px;
}

.layout-header {
  position: relative;
  z-index: 100;
}

.layout-timelines {
  margin: 0 auto;
}

.layout-column {
  float: left;
}
.layout-column.public {
  width: 60%;
}
.layout-column.private {
  width: 40%;
}

.form-hint {
  padding-left: 136px;
  text-align: left;
}

.form-error {
  background-color: rgba(255, 255, 255, 0.8);
  color: #ff0000;
}

.items,
.searches,
.followers,
.followings,
.suggestions {
  padding-top: 5px;
}

.items .item,
.searches.items .item {
  background-color: #aaaaaa;
  background-size: cover;
  background-position-y: 35%;
}
.items .item:hover,
.searches.items .item:hover {
  -webkit-box-shadow: 0px 0px 0px #aaaaaa;
  -moz-box-shadow: 0px 0px 0px #aaaaaa;
  box-shadow: 0px 0px 0px #aaaaaa;
  background-color: #999;
}
.items .item.empty p,
.searches.items .item.empty p {
  margin: 0;
}
.items .item.image .overlay,
.searches.items .item.image .overlay {
  display: block;
}
.items .item .overlay,
.searches.items .item .overlay {
  background-color: rgba(15, 15, 15, 0.4);
  display: none;
  left: 0;
  opacity: 1;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.items .item .username a,
.searches.items .item .username a {
  color: #ddd;
}
.items .item .text,
.searches.items .item .text {
  margin: 18px 0 14px;
}
.items .item .text a,
.searches.items .item .text a {
  color: #fff;
}
.items .item .text .icon-play-circle,
.searches.items .item .text .icon-play-circle {
  font-weight: normal;
  font-size: 26px;
  line-height: 1;
}
.items .item .via,
.searches.items .item .via {
  margin: 0 0 5px;
}
.items .item .via a,
.searches.items .item .via a {
  border-bottom: 0;
  color: #ddd;
  font-size: 14px;
}
.items .item .time,
.searches.items .item .time {
  margin: 0;
}
.items .item .time .event,
.searches.items .item .time .event {
  color: #ffffff;
  background-color: #ff6600;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 2px 4px;
}
.items .item .time a,
.searches.items .item .time a {
  color: #eee;
  font-size: 13px;
}
.items .item .promote,
.searches.items .item .promote {
  padding: 6px 7px 5px 8px;
}
.items .item .demote,
.searches.items .item .demote {
  padding: 6px 9px 5px 10px;
}

.followings .item,
.followers .item,
.suggestions .item,
.searches.profiles .item {
  background-color: #fff;
}
.followings .item .username,
.followers .item .username,
.suggestions .item .username,
.searches.profiles .item .username {
  color: #000000;
}
.followings .item .icon img,
.followers .item .icon img,
.suggestions .item .icon img,
.searches.profiles .item .icon img {
  border-color: #999;
}
.followings .item .bio,
.followers .item .bio,
.suggestions .item .bio,
.searches.profiles .item .bio {
  margin-bottom: 15px;
  margin-top: 12px;
}
.followings .item .bio .name,
.followers .item .bio .name,
.suggestions .item .bio .name,
.searches.profiles .item .bio .name {
  color: #ff6600;
}
.followings .item .statistics,
.followers .item .statistics,
.suggestions .item .statistics,
.searches.profiles .item .statistics {
  list-style: none;
  margin: 0;
  padding: 0;
}
.followings .item .statistics .followings,
.followings .item .statistics .followers,
.followers .item .statistics .followings,
.followers .item .statistics .followers,
.suggestions .item .statistics .followings,
.suggestions .item .statistics .followers,
.searches.profiles .item .statistics .followings,
.searches.profiles .item .statistics .followers {
  display: inline;
}
.followings .item .statistics .followings,
.followers .item .statistics .followings,
.suggestions .item .statistics .followings,
.searches.profiles .item .statistics .followings {
  padding-right: 15px;
}
.followings .item .unfollow,
.followers .item .unfollow,
.suggestions .item .unfollow,
.searches.profiles .item .unfollow {
  padding: 7px 9px 3px 10px;
}
.followings .item .follow,
.followers .item .follow,
.suggestions .item .follow,
.searches.profiles .item .follow {
  padding: 6px 9px 3px 9px;
}

.item {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 1px 1px 2px #aaaaaa;
  -moz-box-shadow: 1px 1px 2px #aaaaaa;
  box-shadow: 1px 1px 2px #aaaaaa;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: padding-top 500ms linear, padding-bottom 500ms linear, margin-bottom 500ms linear, max-height 500ms linear;
  -webkit-transition-delay: 250ms, 250ms, 250ms, 250ms;
  -moz-transition: padding-top 500ms linear 250ms, padding-bottom 500ms linear 250ms, margin-bottom 500ms linear 250ms, max-height 500ms linear 250ms;
  -o-transition: padding-top 500ms linear 250ms, padding-bottom 500ms linear 250ms, margin-bottom 500ms linear 250ms, max-height 500ms linear 250ms;
  transition: padding-top 500ms linear 250ms, padding-bottom 500ms linear 250ms, margin-bottom 500ms linear 250ms, max-height 500ms linear 250ms;
  max-height: 225px;
  margin: 0 0 7px;
  padding: 15px;
  overflow: hidden;
  position: relative;
}
.item .icon,
.item .username,
.item .text,
.item .time,
.item .via,
.item .button,
.item .listen,
.item .duration {
  position: relative;
  z-index: 2;
}
.item .text,
.item .bio,
.item .statistics,
.item .time,
.item .duration {
  width: 100%;
}
.item .text a,
.item .bio a,
.item .statistics a,
.item .time a,
.item .duration a {
  border-bottom: 0;
}
.item .icon img {
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
  border: 3px solid #ffffff;
}
.item .username {
  font-size: 14px;
  margin: 15px 12px;
}
.item .username a {
  border-bottom: 0;
}
.item .username i {
  color: #bf3000;
  display: inline-block;
  margin-left: 5px;
}
.item .duration {
  list-style: none;
  margin: -5px 0 8px;
  padding: 0;
}
.item .duration li {
  color: #fff;
  display: inline-block;
}
.item .duration .days,
.item .duration .hours,
.item .duration .minutes,
.item .duration .seconds {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  font-size: 12px;
  padding: 2px 4px;
  text-align: center;
}
.item .duration .days {
  background-color: #06a65c;
}
.item .duration .hours {
  background-color: #5f39bb;
}
.item .duration .minutes {
  background-color: #f50000;
}
.item .duration .seconds {
  background-color: #ff5b00;
}
.item .text,
.item .bio {
  margin: 0;
}
.item .text {
  font-size: 22px;
  opacity: 1;
  overflow: hidden;
  max-height: 80px;
}
.item .text.collapsed,
.item .duration.collapsed {
  -webkit-transition: opacity 1s ease, max-height 1s ease, margin 1s ease;
  -moz-transition: opacity 1s ease, max-height 1s ease, margin 1s ease;
  -o-transition: opacity 1s ease, max-height 1s ease, margin 1s ease;
  transition: opacity 1s ease, max-height 1s ease, margin 1s ease;
  max-height: 0;
  opacity: 0;
  margin: 0;
}
.item .bio {
  font-size: 17px;
}
.item .url {
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  transition: opacity 1s ease;
  opacity: 0;
  padding-left: 12px;
}
.item .listen {
  margin: 10px 0 10px;
  opacity: 1;
}
.item .button {
  -webkit-border-radius: 31px;
  -moz-border-radius: 31px;
  -ms-border-radius: 31px;
  -o-border-radius: 31px;
  border-radius: 31px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px, rgba(51, 51, 51, 0.6) 1px 1px 5px 0px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px, rgba(51, 51, 51, 0.6) 1px 1px 5px 0px inset;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px, rgba(51, 51, 51, 0.6) 1px 1px 5px 0px inset;
  text-shadow: #aaaaaa 0.1em 0.1em 0.2em;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #deddd8), color-stop(100%, #deddd8));
  background: -webkit-linear-gradient(top, #deddd8, #deddd8);
  background: -moz-linear-gradient(top, #deddd8, #deddd8);
  background: -o-linear-gradient(top, #deddd8, #deddd8);
  background: linear-gradient(top, #deddd8, #deddd8);
  color: #000;
  cursor: pointer;
  border: 4px solid #fff;
  bottom: 10px;
  font-size: 22px;
  position: absolute;
  right: 10px;
}
.item .button:hover {
  color: #ffffff;
}
.item .button:active {
  color: #ff6600;
}

.item.event .event.sash,
.item.audio .audio.sash,
.item.video .video.sash,
.item.event.added .event-added.sash {
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  opacity: 1;
}

.item.add {
  padding-top: 48px;
}

.item.empty,
.item.empty.collapsed {
  -webkit-transition-duration: 350ms, 350ms, 350ms;
  -moz-transition-duration: 350ms, 350ms, 350ms;
  -o-transition-duration: 350ms, 350ms, 350ms;
  transition-duration: 350ms, 350ms, 350ms;
}

.item.collapsed {
  margin-bottom: 0;
  max-height: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
}

.login {
  height: 110px;
  left: 50%;
  margin-left: -179px;
  margin-top: -40px;
  position: absolute;
  top: 50%;
  text-align: center;
  width: 358px;
}

.login-twitter a {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  background-color: #ff6600;
  color: #fff;
  display: inline-block;
  padding: 12px 15px 12px;
  text-decoration: none;
}
.login-twitter .icon {
  color: #1ab7ea;
  font-size: 20px;
  text-decoration: none;
}

.login-register,
.login-login {
  text-align: center;
}
.login-register a,
.login-login a {
  background-color: rgba(170, 170, 170, 0.8);
  padding: 3px 4px;
}

.login-form {
  display: none;
}

.navbar {
  -webkit-box-shadow: 0px 2px 5px #222222;
  -moz-box-shadow: 0px 2px 5px #222222;
  box-shadow: 0px 2px 5px #222222;
  background-color: #ffffff;
  border-bottom: 8px solid #ccc;
  position: fixed;
  height: 45px;
  top: 0;
  width: 100%;
}

.navbar-inner {
  overflow: hidden;
}

.navbar-nav {
  padding: 0;
  list-style: none;
  margin: 5px 25px 0;
}
.navbar-nav .icon-cog {
  font-size: 33px;
}

.navbar-brand {
  color: #ff6600;
  font-size: 23px;
  margin: 8px 0 0 22px;
}
.navbar-brand .icon-ok-circle {
  margin-right: -3px;
}
.navbar-brand .icon-ok-circle,
.navbar-brand .icon-time {
  color: #aaaaaa;
  font-size: 30px;
  float: left;
  margin-top: 0px;
}
.navbar-brand .icon-time {
  margin-right: 10px;
}

.navbar-tagline {
  color: #555555;
  font-size: 14px;
  margin: 16px 0 0 25px;
}

.navbar-dropdown .icon-edit,
.navbar-dropdown .icon-signout {
  font-size: 20px;
}

.needle {
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.7);
  border-bottom: 1px solid #333333;
  border-top: 1px solid #ffffff;
  height: 0px;
  position: absolute;
  top: 50%;
  opacity: 0.7;
  width: 100%;
  width: -webkit-calc(100% - 12px);
  width: calc(100% - 12px);
  z-index: 4;
}

.needle-date {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.7);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.7);
  background-color: #ffffff;
  color: #000000;
  font-size: 14px;
  left: 50%;
  height: 16px;
  padding: 6px 0;
  position: absolute;
  margin-left: -100px;
  text-align: center;
  top: -18px;
  width: 215px;
  border: 2px solid #999999;
}

.needle-now {
  color: #ff6600;
  font-weight: bold;
  text-transform: uppercase;
}

.needle-future {
  margin-left: 10px;
}

.needle-past {
  margin-right: 10px;
  margin-left: 8px;
}

.needle-icon-repeat {
  cursor: pointer;
  display: inline-block;
}

.register {
  height: 275px;
  left: 50%;
  margin-left: -179px;
  margin-top: -137px;
  position: absolute;
  top: 50%;
  width: 358px;
}

.register-heading {
  font-size: 16px;
  font-weight: normal;
  margin: 0 0 1em;
  text-align: center;
}
.register-heading span {
  background-color: rgba(170, 170, 170, 0.8);
  padding: 3px 4px;
  margin: 0 auto;
}

.sash {
  border-style: solid;
  color: #ffffff;
  height: 0px;
  opacity: 0;
  line-height: 0px;
  margin: 0;
  position: absolute;
  right: 0;
  width: 0;
  z-index: 2;
}
.sash.event {
  border-color: transparent #ff6600 transparent transparent;
  border-width: 0 48px 48px 0;
  font-size: 14px;
  top: 0;
  width: 120px;
}
.sash.event-added {
  border-color: transparent #0093a7 transparent transparent;
  border-width: 0 48px 48px 0;
  font-size: 14px;
  top: 0;
  width: 120px;
}
.sash.video {
  border-color: transparent #5f39bb transparent transparent;
  border-width: 0 48px 48px 0;
  font-size: 14px;
  top: 0;
  width: 120px;
}
.sash.audio {
  border-color: transparent #bc1c48 transparent transparent;
  border-width: 0 48px 48px 0;
  font-size: 14px;
  top: 0;
  width: 120px;
}
.sash.added, .sash.followed, .sash.flagged {
  border-color: transparent transparent #ff6600 transparent;
  border-width: 0 0 24px 24px;
  bottom: 0;
  font-size: 12px;
  text-align: right;
  z-index: 3;
}
.sash.added span, .sash.followed span, .sash.flagged span {
  display: inline-block;
  padding: 7px 6px 6px;
}
.sash.added {
  width: 120px;
}
.sash.followed {
  width: 82px;
}
.sash.flagged {
  width: 82px;
}
.sash .icon-calendar,
.sash .icon-headphones,
.sash .icon-facetime-video {
  position: absolute;
  right: -42px;
}
.sash .icon-calendar,
.sash .icon-facetime-video {
  top: 5px;
}
.sash .icon-plus {
  padding-left: 6px;
}
.sash .icon-facetime-video {
  top: 7px;
}
.sash .icon-headphones {
  font-size: 16px;
  top: 7px;
}

.promoted .added.sash {
  opacity: 1;
}

.followed .followed.sash {
  opacity: 1;
}

.unfollowed .unfollowed.sash {
  opacity: 1;
}

.flagged .flagged.sash {
  opacity: 1;
}

.timeline {
  position: relative;
}

.timeline-public {
  padding: 0 4px 0 8px;
}

.timeline-private {
  padding: 0 8px 0 4px;
}

.timeline-header {
  -webkit-box-shadow: 0px 2px 3px #666666;
  -moz-box-shadow: 0px 2px 3px #666666;
  box-shadow: 0px 2px 3px #666666;
  background-color: rgba(255, 255, 255, 0.95);
  border-bottom: 0px solid #000;
  height: 46px;
  position: absolute;
  top: 0;
  width: 98%;
  width: -webkit-calc(100% - 12px);
  width: calc(100% - 12px);
  z-index: 4;
}
.timeline-header .title {
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  margin: 12px 6px 4px 15px;
  padding: 0;
}
.timeline-header .type,
.timeline-header .search,
.timeline-header .url,
.timeline-header .add {
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  border-radius: 16px;
  font-size: 14px;
  height: 25px;
  padding: 4px 12px;
  margin-top: 8px;
}
.timeline-header .type {
  font-size: 14px;
  height: 25px;
  padding: 4px 12px;
  margin: 12px 0 0 15px;
  width: 100px;
}
.timeline-header .selector {
  float: left;
}
.timeline-header .selector {
  margin: 10px 0 0 15px;
}
.timeline-header .selector .type {
  margin: 1px 0 0 0;
  height: auto;
}
.timeline-header .search,
.timeline-header .url {
  margin-left: 15px;
  width: 185px;
}
.timeline-header .add {
  margin: 16px 0 0 0;
  padding: 0;
  width: 80px;
}
.timeline-header .now,
.timeline-header .back {
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  border-bottom: 0;
  cursor: pointer;
  font-size: 12px;
  margin: 8px 18px 0 0;
  opacity: 1;
}
.timeline-header .now:hover .icon-repeat,
.timeline-header .back:hover .icon-repeat {
  color: #000000;
}
.timeline-header .now:active .icon-repeat,
.timeline-header .back:active .icon-repeat {
  color: #ff6600;
}
.timeline-header .now .icon-now,
.timeline-header .now .icon-back,
.timeline-header .back .icon-now,
.timeline-header .back .icon-back {
  color: #555555;
  display: inline-block;
}
.timeline-header .now .icon-now,
.timeline-header .back .icon-now {
  font-size: 32px;
}
.timeline-header .now .icon-back,
.timeline-header .back .icon-back {
  font-size: 30px;
  margin-top: 1px;
}

.timeline-header-public .type {
  margin: 12px 0 0 15px;
}

.timeline-nav {
  font-size: 14px;
  list-style: none;
  margin: 11px 12px;
  padding: 0;
}
.timeline-nav li {
  display: inline-block;
  margin-right: 15px;
}
.timeline-nav li.active a {
  color: #ff6600;
}
.timeline-nav li.last {
  margin-right: 0;
}
.timeline-nav li a {
  cursor: pointer;
  display: inline-block;
}

.scroller {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  position: relative;
  overflow: scroll;
  height: 100%;
  width: 100%;
}

.children {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  position: relative;
  padding-top: 46px;
}

.now-separator {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: padding-top 500ms linear, padding-bottom 500ms linear, margin-bottom 500ms linear, max-height 500ms linear;
  -webkit-transition-delay: 250ms, 250ms, 250ms, 250ms;
  -moz-transition: padding-top 500ms linear 250ms, padding-bottom 500ms linear 250ms, margin-bottom 500ms linear 250ms, max-height 500ms linear 250ms;
  -o-transition: padding-top 500ms linear 250ms, padding-bottom 500ms linear 250ms, margin-bottom 500ms linear 250ms, max-height 500ms linear 250ms;
  transition: padding-top 500ms linear 250ms, padding-bottom 500ms linear 250ms, margin-bottom 500ms linear 250ms, max-height 500ms linear 250ms;
  margin-top: -6px;
  max-height: 80px;
  overflow: hidden;
}

.now-separator.is-collapsed {
  margin-bottom: 0;
  max-height: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
}

.now-separator-future,
.now-separator-past {
  background-color: #fff;
  font-size: 12px;
  padding: 5px 12px;
}

.now-separator-future {
  -webkit-border-radius: 0 0 8px 8px;
  -moz-border-radius: 0 0 8px 8px;
  -ms-border-radius: 0 0 8px 8px;
  -o-border-radius: 0 0 8px 8px;
  border-radius: 0 0 8px 8px;
}

.now-separator-past {
  -webkit-border-radius: 8px 8px 0 0;
  -moz-border-radius: 8px 8px 0 0;
  -ms-border-radius: 8px 8px 0 0;
  -o-border-radius: 8px 8px 0 0;
  border-radius: 8px 8px 0 0;
  margin-top: 15px;
}

.loading {
  left: 50%;
  margin-left: -12px;
  opacity: 0.25;
  position: absolute;
}

.loading-after {
  top: 50px;
}

.loading-before {
  bottom: 20px;
}

.no-results {
  -webkit-box-shadow: 0px 2px 2px 0px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 2px 2px 0px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 2px 0px 5px rgba(0, 0, 0, 0.25);
  background-color: #ff6600;
  border-radius: 10px;
  color: #fff;
  font-size: 12px;
  margin-bottom: 10px;
  padding-top: 5px;
  height: 20px;
  text-align: center;
  width: 100%;
}

.item.promoted .overlay, .item.demoted .overlay, .item.unfollowed .overlay, .item.followed .overlay, .item.flagged .overlay, .item.past .overlay {
  background-color: rgba(255, 255, 255, 0.65);
  display: block;
  z-index: 2;
}
.item.past .overlay {
  background-color: rgba(15, 15, 15, 0.4);
}
.item.promoted .promote, .item.demoted .demote, .item.unfollowed .unfollow, .item.followed .follow, .item.flagged .flag {
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
  opacity: 0;
}
.item.promoted .sash.added, .item.followed .sash.followed, .item.flagged .sash.flagged {
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  opacity: 1;
}
.item.focused .url {
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  transition: opacity 1s ease;
  opacity: 1;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.ui-datepicker {
  margin-top: 104px;
}

.route-login,
.route-logout,
.route-register {
  background-image: url("/-assets/images/numbers.jpg");
}
