/* line 2, scss/content.scss */
.content a {
  color: #000000;
  border-bottom: 2px solid #ff6600;
  text-decoration: none;
}
/* line 8, scss/content.scss */
.content h1 {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 5px;
}
