/* line 3, scss/form.scss */
label {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background-color: #eee;
  border: 0px;
  display: inline-block;
  font-size: 13px;
  height: 18px;
  padding: 12px 12px;
  margin: 4px 4px 4px 0px;
  text-align: center;
  vertical-align: middle;
  width: 100px;
}

/* line 17, scss/form.scss */
input {
  outline: none;
}

/* line 22, scss/form.scss */
input[type=text],
input[type=password] {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 1px 1px 3px 0px #666666;
  -moz-box-shadow: inset 1px 1px 3px 0px #666666;
  box-shadow: inset 1px 1px 3px 0px #666666;
  -webkit-transition: border 0.2s linear, box-shadow 0.2s linear;
  -moz-transition: border 0.2s linear, box-shadow 0.2s linear;
  -o-transition: border 0.2s linear, box-shadow 0.2s linear;
  transition: border 0.2s linear, box-shadow 0.2s linear;
  background-color: #deddd8;
  border: 0px;
  color: #4B4B4B;
  display: inline-block;
  font-size: 18px;
  height: 18px;
  margin: 4px 0;
  padding: 12px 12px;
  vertical-align: middle;
  width: 200px;
}

/* line 42, scss/form.scss */
input[type=submit] {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 4px, #cccccc 0px 0px 1px 0px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 4px, #cccccc 0px 0px 1px 0px inset;
  box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 4px, #cccccc 0px 0px 1px 0px inset;
  text-shadow: rgba(0, 0, 0, 0.2) 0px -1px 0px, rgba(255, 255, 255, 0.3) 0px 1px 0px;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  background-color: #cccccc;
  border: 2px solid #eeeeee;
  color: #000000;
  font-size: 14px;
  margin: 8px 10px 4px 0px;
  padding: 12px;
}
/* line 61, scss/form.scss */
input[type=submit]:hover {
  background-color: #fff;
  border: 2px solid #666666;
}
/* line 66, scss/form.scss */
input[type=submit]:active {
  -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0 1px 4px 0px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.6) 0 1px 4px 0px inset;
  box-shadow: rgba(0, 0, 0, 0.6) 0 1px 4px 0px inset;
  background-color: #cccccc;
  border: 2px solid #ff9900;
}

/* line 2, scss/content.scss */
.content a {
  color: #000000;
  border-bottom: 2px solid #ff6600;
  text-decoration: none;
}
/* line 8, scss/content.scss */
.content h1 {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 5px;
}

/* line 6, scss/user.scss */
html,
body {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

/* line 12, scss/user.scss */
body {
  background-color: #deddd8;
}

/* line 16, scss/user.scss */
a {
  text-decoration: none;
}

/* line 21, scss/user.scss */
.container {
  margin: 0 auto;
  width: 960px;
}

/* line 27, scss/user.scss */
.navbar {
  -webkit-box-shadow: 0px 4px 5px #888888;
  -moz-box-shadow: 0px 4px 5px #888888;
  box-shadow: 0px 4px 5px #888888;
  background-color: #aaaaaa;
  border-bottom: 8px solid #cccccc;
  height: 45px;
  width: 100%;
}
/* line 34, scss/user.scss */
.navbar.navbar-fixed {
  position: fixed;
  top: 0;
}
/* line 39, scss/user.scss */
.navbar .navbar-inner {
  overflow: hidden;
}
/* line 43, scss/user.scss */
.navbar .brand {
  color: #ffffff;
  font-size: 23px;
  padding-top: 8px;
}
/* line 49, scss/user.scss */
.navbar .brand .icon-ok-circle,
.navbar .brand .icon-time {
  color: #555555;
  font-size: 30px;
  float: left;
  margin-top: 0px;
}
/* line 56, scss/user.scss */
.navbar .brand .icon-time {
  margin-right: 20px;
}
/* line 61, scss/user.scss */
.navbar .tagline {
  color: #ededed;
  font-size: 14px;
  margin: 16px 0 0 25px;
}
/* line 67, scss/user.scss */
.navbar .nav {
  margin: 5px 0 0;
}
/* line 71, scss/user.scss */
.navbar .nav .icon-cog {
  font-size: 33px;
}
/* line 78, scss/user.scss */
.navbar .dropdown .icon-edit,
.navbar .dropdown .icon-signout {
  font-size: 20px;
}

/* line 85, scss/user.scss */
.nav {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 91, scss/user.scss */
.nav.nav-inline li {
  display: inline-block;
}
/* line 96, scss/user.scss */
.nav a {
  cursor: pointer;
  display: inline-block;
}
/* line 102, scss/user.scss */
.nav li [class^="icon-"],
.nav li [class*=" icon-"] {
  width: auto;
}

/* line 107, scss/user.scss */
.content {
  padding-top: 54px;
}

/* line 112, scss/user.scss */
.timelines .column {
  float: left;
  width: 50%;
}

/* line 118, scss/user.scss */
.page.header {
  position: relative;
  z-index: 100;
}

/* line 123, scss/user.scss */
.timeline {
  padding: 0 3px;
}
/* line 126, scss/user.scss */
.timeline .header {
  background-color: #ccc;
  border-bottom: 0px solid black;
  height: 39px;
  width: 100%;
}
/* line 132, scss/user.scss */
.timeline .header .title {
  color: #fff;
  font-size: 17px;
  font-weight: normal;
  margin: 16px 6px 4px 4px;
  padding: 0;
}
/* line 140, scss/user.scss */
.timeline .header .tagline {
  color: #999;
  font-size: 13px;
  margin: 20px 0 0 0;
}
/* line 145, scss/user.scss */
.timeline .header .tagline em {
  color: #000000;
  font-style: normal;
}
/* line 151, scss/user.scss */
.timeline .header .nav {
  margin: 4px 4px 0 0;
}
/* line 156, scss/user.scss */
.timeline .header .nav .now,
.timeline .header .nav .ets,
.timeline .header .nav .ts {
  border-bottom: 0;
  font-size: 11px;
}
/* line 163, scss/user.scss */
.timeline .header .nav .now:hover .icon-repeat,
.timeline .header .nav .now:hover .icon-circle-arrow-up,
.timeline .header .nav .now:hover .icon-circle-arrow-down,
.timeline .header .nav .ets:hover .icon-repeat,
.timeline .header .nav .ets:hover .icon-circle-arrow-up,
.timeline .header .nav .ets:hover .icon-circle-arrow-down,
.timeline .header .nav .ts:hover .icon-repeat,
.timeline .header .nav .ts:hover .icon-circle-arrow-up,
.timeline .header .nav .ts:hover .icon-circle-arrow-down {
  color: #000000;
}
/* line 171, scss/user.scss */
.timeline .header .nav .now:active .icon-repeat,
.timeline .header .nav .now:active .icon-circle-arrow-up,
.timeline .header .nav .now:active .icon-circle-arrow-down,
.timeline .header .nav .ets:active .icon-repeat,
.timeline .header .nav .ets:active .icon-circle-arrow-up,
.timeline .header .nav .ets:active .icon-circle-arrow-down,
.timeline .header .nav .ts:active .icon-repeat,
.timeline .header .nav .ts:active .icon-circle-arrow-up,
.timeline .header .nav .ts:active .icon-circle-arrow-down {
  color: #ff6600;
}
/* line 179, scss/user.scss */
.timeline .header .nav .icon-repeat,
.timeline .header .nav .icon-circle-arrow-down,
.timeline .header .nav .icon-circle-arrow-up {
  text-shadow: 0.1em 0.1em 0.2em #aaaaaa;
  color: #ffffff;
  font-size: 30px;
}
/* line 189, scss/user.scss */
.timeline .scroller {
  position: relative;
  width: 100%;
}
/* line 194, scss/user.scss */
.timeline .items {
  padding-top: 5px;
}
/* line 197, scss/user.scss */
.timeline .items .item {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 1px 1px 2px #aaaaaa;
  -moz-box-shadow: 1px 1px 2px #aaaaaa;
  box-shadow: 1px 1px 2px #aaaaaa;
  background-color: #aaaaaa;
  background-size: cover;
  margin: 0 0 7px;
  overflow: hidden;
  padding: 15px;
  position: relative;
}
/* line 209, scss/user.scss */
.timeline .items .item:hover {
  -webkit-box-shadow: 0px 0px 0px #aaaaaa;
  -moz-box-shadow: 0px 0px 0px #aaaaaa;
  box-shadow: 0px 0px 0px #aaaaaa;
  background-color: #999;
}
/* line 216, scss/user.scss */
.timeline .items .item .username {
  font-size: 14px;
  color: #ddd;
  padding: 7px;
  margin: 0 0 0 7px;
}
/* line 223, scss/user.scss */
.timeline .items .item .text {
  margin: 0;
}
/* line 226, scss/user.scss */
.timeline .items .item .text a {
  color: #fff;
  font-size: 22px;
}
/* line 232, scss/user.scss */
.timeline .items .item .link {
  margin: 8px 0 0;
}
/* line 235, scss/user.scss */
.timeline .items .item .link a {
  font-size: 25px;
  color: #ddd;
}
/* line 241, scss/user.scss */
.timeline .items .item .time {
  margin: 0;
}
/* line 244, scss/user.scss */
.timeline .items .item .time a {
  color: #eee;
  font-size: 13px;
}
/* line 252, scss/user.scss */
.timeline .items .item .text,
.timeline .items .item .link,
.timeline .items .item .time {
  width: 100%;
}
/* line 255, scss/user.scss */
.timeline .items .item .text a,
.timeline .items .item .link a,
.timeline .items .item .time a {
  border-bottom: 0;
}
/* line 261, scss/user.scss */
.timeline .items .item .promote,
.timeline .items .item .demote {
  -webkit-border-radius: 31px;
  -moz-border-radius: 31px;
  -ms-border-radius: 31px;
  -o-border-radius: 31px;
  border-radius: 31px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px, rgba(51, 51, 51, 0.6) 1px 1px 5px 0px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px, rgba(51, 51, 51, 0.6) 1px 1px 5px 0px inset;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px, rgba(51, 51, 51, 0.6) 1px 1px 5px 0px inset;
  text-shadow: #aaaaaa 0.1em 0.1em 0.2em;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #deddd8), color-stop(100%, #deddd8));
  background: -webkit-linear-gradient(top, #deddd8, #deddd8);
  background: -moz-linear-gradient(top, #deddd8, #deddd8);
  background: -o-linear-gradient(top, #deddd8, #deddd8);
  background: linear-gradient(top, #deddd8, #deddd8);
  color: #000;
  cursor: pointer;
  border: 4px solid white;
  bottom: 10px;
  font-size: 22px;
  position: absolute;
  right: 10px;
}
/* line 281, scss/user.scss */
.timeline .items .item .promote:hover,
.timeline .items .item .demote:hover {
  color: #ffffff;
}
/* line 285, scss/user.scss */
.timeline .items .item .promote:active,
.timeline .items .item .demote:active {
  color: #ff6600;
}
/* line 290, scss/user.scss */
.timeline .items .item .promote {
  padding: 6px 7px 5px 8px;
}
/* line 294, scss/user.scss */
.timeline .items .item .demote {
  padding: 6px 9px 5px 10px;
}

/* line 302, scss/user.scss */
.pull-left {
  float: left;
}

/* line 306, scss/user.scss */
.pull-right {
  float: right;
}

/* line 311, scss/user.scss */
[class^="icon-"],
[class*=" icon-"] {
  -webkit-font-smoothing: inherit;
}
