<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script type="text/javascript" src="http://use.typekit.net/bsa5hge.js"></script>
        <script type="text/javascript">
        try {
            Typekit.load();
        } catch(e) {}
        </script>

        <script src="/-assets/javascripts/vendor/modernizr.js"></script>

        <link rel="stylesheet" href="/-assets/stylesheets/vendor.css">
        <link rel="stylesheet" href="/-assets/stylesheets/admin.css">

        <title>PlaceTime - Admin</title>
    </head>
    <body>


        <div class="layout-header"></div>
        <div class="layout-content"></div>



        <script type="text/template" id="header-template">
            <div class="navbar-inner layout-container">
                <a class="brand pull-left" href="/">
                    <i class="icon-ok-circle"></i>
                    <i class="icon-time"></i>
                    placetime
                </a>

                <a class="tagline pull-left" href="/">a playlist for your life</a>

                <% if (pid !== undefined) { %>
                <ul class="nav pull-right">
                    <li>
                        <a data-dropdown=".navbar .dropdown">
                            <i class="icon-cog"></i>
                        </a>
                    </li>
                </ul>
                <% } %>

                <div class="dropdown dropdown-tip dropdown-anchor-right">
                    <ul class="dropdown-menu">
                        <li>
                            <a class="main-hiddenlink" href="#new">
                                <i class="icon-edit"></i>
                                new
                            </a>
                        </li>
                        <li>
                            <a class="main-hiddenlink" href="#profile">
                                <i class="icon-user"></i>
                                <%= pid %>
                            </a>
                        </li>
                        <li>
                            <a class="main-hiddenlink" href="#logout">
                                <i class="icon-signout"></i>
                                logout
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </script>


        <script type="text/template" id="login-template">
            <h1>login</h1>
            <form action="#" method="post">
                <div class="field">
                    <label for="name">User name</label>
                    <input type="text" name="pid" id="pid" value="">
                    <div class="hint"></div>
                </div>

                <div class="field">
                    <label for="name">Password</label>
                    <input type="password" name="pwd" id="pwd" value="">
                    <div class="hint"></div>
                </div>

                <input type="submit" value="Login">
            </form>
        </script>


        <script type="text/template" id="home-template">
            <h1>Placetime Admin</h1>
            <% if (message) { %>
                <div class="message"><%= message %></div>
            <% } %>
            <form action="#profile" method="post">
                <label for="pid">User profile</label>

                <input type="text" name="pid" size="20" value="">
                <input type="submit" value="Manage Profile">
            </form>

            <div><a href="#profile/new">New profile</a></div>
        </script>


        <script type="text/template" id="back-template">
            <a href="/-admin">
                <i class="icon-arrow-left back-icon"></i>
                Back to admin page
            </a>
        </script>



        <script type="text/template" id="profile-new-template">
            <h3>New Profile</h3>
            <form action="" method="post">
                <div>
                    <label for="pid">Profile ID </label>
                    <input type="text" name="pid" id="pid" value="">
                </div>

                <div>
                    <label for="name">Name </label>
                    <input type="text" name="name" id="name" value="">
                </div>

                <div>
                    <label for="pwd">Password </label>
                    <input type="text" name="pwd" id="pwd" value="">
                </div>

                <div>
                    <label for="bio">Bio </label>
                    <input type="text" name="bio" id="bio" value="">
                </div>

                <div>
                    <input type="submit" value="Save" class="saveBtn">
                    <a href="#home">cancel</a>
                </div>
            </form>
        </script>


        <script type="text/template" id="profile-view-template">
            <h3>Manage Profile</h3>
            <dl>
                <dt>Profile:</dt>
                <dd><%= model.get('pid') %></dd>

                <dt>Name:</dt>
                <dd><%= model.get('name') %></dd>

                <dt>Bio:</dt>
                <dd><%= model.get('bio') %></dd>

                <dt>Date joined:</dt>
                <dd><%= model.get('joined') %></dd>

                <dt>Followed items:</dt>
                <dd><%= model.get('pcount') %></dd>

                <dt>Bookmarked items:</dt>
                <dd><%= model.get('mcount') %></dd>

                <dt>Following:</dt>
                <dd>
                    <a href="#following/<%= model.get('pid') %>">
                        <%= model.get('followingcount') %>
                    </a>
                </dd>

                <dt>Followers:</dt>
                <dd>
                <a href="#followers/<%= model.get('pid') %>">
                    <%= model.get('followercount') %>
                </a>
                </dd>
            </dl>

            <% if (model.parentpid) { %>
                <div>
                    Parent profile:
                    <a href="#profile/<%= model.get('parentpid') %>">
                        <%= model.get('parentpid') %>
                    </a>
                </div>
                <div>
                    Feed URL: <%= model.feedurl %>
                </div>
            <% } else { %>
                <div>
                    Feeds:
                    <a href="#feeds/<%= model.get('pid') %>">
                        <%= model.feedcount %>
                    </a>
                </div>
            <% } %>


            <div class="profile-items">
                <h3>Items</h3>
            </div>


            <button class="profile-edit">Edit Profile</button>
            <button class="profile-add">Add Feed</button>
        </script>

        <script type="text/template" id="profile-edit-template">
            <h3>Edit Profile</h3>

            <form action="" method="post">
                <div>
                    <label for="name">Name </label>
                    <input type="text" name="name" id="name" value="<%= data.name %>">
                </div>

                <div>
                    <label for="bio">Bio </label>
                    <input type="text" name="bio" id="bio" value="<%= data.bio %>">
                </div>

                <div>
                    <input type="submit" value="Save">
                    <a href="#profile/<%= data.pid %>">cancel</a>
                </div>
            </form>
        </script>



        <script type="text/template" id="feed-template">
            <h3>Manage Feed</h3>

            <dl>
                <dt>Profile:</dt>
                <dd><%= data.pid %></dd>

                <dt>Name:</dt>
                <dd><%= data.name %></dd>

                <dt>Items in feed:</dt>
                <dd><%= data.mcount %></dd>

                <dt>Followers:</dt>
                <dd>
                    <a href="#followers/<%= data.pid %>">
                        <%= data.followercount %>
                    </a>
                </dd>

                <dt>Parent profile:</dt>
                <dd>
                    <a href="#profile/<%= data.parentpid %>">
                        <%= data.parentpid %>
                    </a>
                </dd>

                <dt>Feed URL:</dt>
                <dd><%= data.feedurl %></dd>
            </dl>


            <div class="items">
                <h3>Items</h3>
            </div>


            <button class="editBtn">Edit Feed</button>
            <button class="deleteBtn">Delete Feed</button>
            <button class="refreshBtn">Refresh Feed</button>
        </script>


        <script type="text/template" id="feed-edit-template">
            <h3>Edit Feed</h3>
            <form action="" method="post">
                <div>
                    <label for="name">Name </label>
                    <input type="text" name="name" id="name" value="<%= data.name %>">
                </div>

                <div>
                    <label for="parentpid">Parent profile id </label>
                    <input type="text" name="parentpid" id="parentpid" value="<%= data.parentpid %>">
                </div>

                <div>
                    <label for="feedurl">Feed URL </label>
                    <input type="text" name="feedurl" id="feedurl" value="<%= data.feedurl %>">
                </div>

                <div>
                    <input type="submit" value="Save" class="saveBtn">
                    <a href="#profile/<%= data.pid %>">cancel</a>
                </div>
            </form>
        </script>

        <script type="text/template" id="feed-add-template">
            <h1>New Feed</h1>
            <form action="" method="post">
                <div>
                    <label for="feedpid">Feed ID*</label>
                    <input type="text" name="feedpid" id="feedpid" value="">
                </div>

                <div>
                    <label for="name">Name </label>
                    <input type="text" name="name" id="name" value="">
                </div>

                <div>
                    <label for="feedurl">Feed URL </label>
                    <input type="text" name="feedurl" id="feedurl" value="">
                </div>

                <div>
                    <input type="submit" value="Save" class="saveBtn">
                    <a href="#profile/<%= data.pid %>">cancel</a>
                </div>

                <div class="main-notabene">* Feed ID will be prefixed by "<%= data.pid %>~"</div>
            </form>
        </script>



        <script type="text/template" id="briefprofile-tmpl">
            <div>
                <a href="#/profile/<%= data.pid %>">
                    <%= data.name %> (@<%= data.pid %>)
                </a>
            </div>
        </script>

        <script type="text/template" id="briefitem-tmpl">
            <div class="feed-item">
                <div>Title: <%= text %></div>
                <div>Link: <%= link %></div>
                <div>When: <%= ets %></div>
            </div>
        </script>

        <script type="text/template" id="following-template">
            <h3>Profiles Followed by <%= data.pid %></h3>
        </script>

        <script type="text/template" id="followers-template">
            <h3>Profiles Following <%= data.pid %></h3>
        </script>


        <script type="text/template" id="feeds-template">
            <h3>Feeds for <%= data.pid %></h3>
        </script>

        <script type="text/template" id="brieffeed-tmpl">
            <div><a href="#/profile/<%= data.pid %>"><%= data.name %> (@<%= data.pid %>)</a>: <%= data.feedurl %></div>
        </script>




        <script src="/-assets/javascripts/vendor.js"></script>
        <script src="/-assets/javascripts/application.js"></script>
        <script type="text/javascript">
        Application.start({
            router: 'admin'
        });
        </script>
    </body>
</html>
