<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script type="text/javascript" src="http://use.typekit.net/bsa5hge.js"></script>
        <script type="text/javascript">
        try {
            Typekit.load();
        } catch(e) {}
        </script>

        <script src="/-assets/javascripts/vendor/modernizr.js"></script>

        <link rel="stylesheet" href="/-assets/stylesheets/vendor.css">
        <link rel="stylesheet" href="/-assets/stylesheets/user.css">

        <title>PlaceTime - Timeline</title>
    </head>
    <body>


        <div class="page header"></div>
        <div class="page content"></div>


        <script type="text/template" id="header-template">
            <% if (wide) { %>
            <div class="navbar-inner container-wide">
            <% } else { %>
            <div class="navbar-inner container">
            <% } %>
                <a class="brand pull-left" href="/">
                    <i class="icon-ok-circle"></i>
                    <i class="icon-time"></i>
                    placetime
                </a>

                <a class="tagline pull-left" href="/">a playlist for your life</a>

                <% if (pid !== undefined) { %>
                <ul class="nav pull-right">
                    <li>
                        <a data-dropdown=".navbar .dropdown">
                            <i class="icon-cog"></i>
                        </a>
                    </li>
                </ul>
                <% } %>

                <div class="dropdown dropdown-tip dropdown-anchor-right">
                    <ul class="dropdown-menu">
                        <li>
                            <a class="main-hiddenlink" href="#logout">
                                <i class="icon-signout"></i>
                                logout
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </script>


        <script type="text/template" id="login-template">
            <p>
                <a href="/-twitter" data-role="button" rel="external">
                    Sign in with Twitter
                </a>
            </p>

            <h1>Or login</h1>
            <form class="form">
                <div class="field">
                    <label for="name">User name</label>
                    <input type="text" name="pid" id="pid" value="">
                    <div class="hint"></div>
                </div>

                <div class="field">
                    <label for="name">Password</label>
                    <input type="password" name="pwd" id="pwd" value="">
                    <div class="hint"></div>
                </div>

                <input type="submit" value="Login" class="wide">
            </form>

            <p>
                Dont have an account? <a href="#register">Sign Up</a>
            </p>
        </script>


        <script type="text/template" id="register-template">
            <h1>Register</h1>
            <form class="form">
                <div class="field">
                    <label for="name">User name</label>
                    <input type="text" name="pid">
                    <div class="hint"></div>
                </div>

                <div class="field">
                    <label for="name">Full name</label>
                    <input type="text" name="name">
                    <div class="hint"></div>
                </div>

                <div class="field">
                    <label for="name">Password</label>
                    <input type="text" name="pwd">
                    <div class="hint"></div>
                </div>

                <input type="submit" value="Register">
            </form>
        </script>


        <script type="text/template" id="load-more-template">
            Load more
        </script>


        <script type="text/template" id="no-results-template">
            No more results
        </script>






        <script type="text/template" id="item-template">
            <% if (image) { %>
                <div class="overlay"><!-- --></div>
            <% } %>

            <% if (media == "video") { %>
            <!-- video specific markup here -->
            <% } else if (media == "audio") { %>
            <!-- audio specific markup here -->
            <% } else { %>
                <div class="icon pull-left">
                    <img src="/-assets/images/user.jpg" width="40" height="40">
                </div>
                <p class="username pull-left">
                    <a href="#user/<%= pid %>">@<%= pid %></a>
                </p>
                <p class="text pull-left">
                    <a class="fancybox fancybox.iframe" href="<%= link %>">
                        <%= text %>
                    </a>
                </p>
                <p class="time pull-left">
                    <a class="fancybox fancybox.iframe" href="<%= link %>">
                        <% if (ts.toString().substr(0, 10) == event) { %>
                            <i class="icon-time"></i> <span class="event">event:</span>
                        <% } else { %>
                            <i class="icon-time"></i> <span class="added">added:</span>
                        <% } %>
                        <span class="timestamp"><%= moment.unix(ts.toString().substr(0, 10)).fromNow() %></span>
                    </a>
                </p>
                <p class="link pull-left">
                    <a href="<%= link %>" class="fancybox fancybox.iframe" data-role="button" rel="external" data-iconpos="notext" data-icon="info" target="_blank">
                        <i class="icon-external-link"></i>
                    </a>
                </p>

                <% if (status === 'm') { %>
                    <a class="button demote">
                        <i class="icon-remove"></i>
                    </a>
                <% } else { %>
                    <a class="button promote">
                        <i class="icon-ok"></i>
                    </a>
                <% } %>
            <% } %>
        </script>


        <script type="text/template" id="item-add-template">
            <form class="form" style="padding-top: 48px">
                <div class="field">
                    <label for="link">Link</label>
                    <input type="text" name="link" value="<%= link %>">
                </div>

                <div class="field">
                    <label for="text">Text</label>
                    <input type="text" name="text" value="<%= text %>">
                </div>

                <div class="field">
                    <label for="text">Event Date</label>
                    <input type="date" min="1900-00-00" name="ets">
                </div>

                <div class="actions">
                    <input type="submit" value="Add">
                </script>
            </form>
        </script>


        <script type="text/template" id="item-empty-template">
            <p>Add items to your playlist</p>
        </script>


        <script type="text/template" id="following-template">
            <div class="icon pull-left">
                <img src="/-assets/images/user.jpg" width="40" height="40">
            </div>

            <p class="username pull-left">
                <a href="#user/<%= pid %>">@<%= pid %></a>
            </p>

            <% if (bio) { %>
            <p class="bio pull-left">
                <% if (pname) { %>
                    <span class="name"><%= pname %></span>:
                <% } %>

                <%= bio %>
            </p>
            <% } %>

            <ul class="statistics pull-left">
                <li class="followings">
                    <%= followingcount %> following
                </li>
                <li class='followers'>
                    <%= followercount %> followers
                </li>
            </ul>

            <a class="button unfollow">
                <i class="icon-minus"></i>
            </a>
        </script>



        <script type="text/template" id="follower-template">
            <div class="icon pull-left">
                <img src="/-assets/images/user.jpg" width="40" height="40">
            </div>

            <p class="username pull-left">
                <a href="#user/<%= pid %>">@<%= pid %></a>
            </p>

            <% if (bio) { %>
            <p class="bio pull-left">
                <%= bio %>
            </p>
            <% } %>

            <ul class="statistics pull-left">
                <li class="followings">
                    <%= followingcount %> following
                </li>
                <li class='followers'>
                    <%= followercount %> followers
                </li>
            </ul>

            <!-- TODO: Conditionally display follow/unfollow -->
            <a class="button follow">
                <i class="icon-plus"></i>
            </a>
        </script>


        <script type="template/text" id="timeline-template">
            <% if (status === 'p') { %>
            <div class="timeline public">
            <% } else { %>
            <div class="timeline private">
            <% } %>
                <div class="header">
                    <% if (status === 'p') { %>
                        <ul class="nav nav-inline pull-left">
                            <li class="items <%= (view == 'timeline')? 'active':'' %>">
                                <a href="#timeline">Timeline</a>
                            </li>
                            <li class="followings <%= (view == 'followings')? 'active':'' %>">
                                <a>Following</a>
                            </li>
                            <li class="followers <%= (view == 'timeline')? 'followers':'' %>">
                                <a href="#followers">Followers</a>
                            </li>
                        </ul>

                        <form class="form">
                            <input class="pull-left search" type="search" placeholder="Search">
                        </form>
                    <% } else { %>
                        <ul class="nav nav-inline pull-left">
                            <li class="items active">
                                <a href="#timeline">My Playlist</a>
                            </li>
                        </ul>

                        <form class="form">
                            <input class="pull-left add" type="text">
                        </form>
                    <% } %>

                    <a class="now pull-right">
                        now <i class="icon-repeat"></i>
                    </a>
                </div>


                <div class="collection"></div>
            </div>
        </script>


        <script type="text/template" id="items-template">
        <div class="scroller">
            <div class="children"></div>
        </div>
        <div class="needle-view"></div>
        </script>


        <script type="text/template" id="followings-template">
        <div class="scroller">
            <div class="children"></div>
        </div>
        </script>



        <script type="text/template" id="followers-template">
        <div class="scroller">
            <div class="children"></div>
        </div>
        </script>



        <script type="text/template" id="needle-template">
        <div class="date">
            <span class="future pull-left">
                <i class="icon-arrow-up"></i> Future
            </span>
            <span class="now">Now</span>
            <span class="past pull-right">
               Past <i class="icon-arrow-down"></i>
            </span>
        </div>
        </script>

        <script type="text/template" id="needle-now-template">
        <div class="date">
            <span class="future pull-left">
                <i class="icon-arrow-up"></i> Future
            </span>
            <span class="now">Now</span>
            <span class="past pull-right">
               Past <i class="icon-arrow-down"></i>
            </span>
        </div>
        </script>


        <script type="text/template" id="timelines-template">
            <div class="timeline-public"></div>
            <div class="timeline-private"></div>
        </script>


        <script src="/-tmpl"></script>
        <script src="/-assets/javascripts/vendor.js"></script>
        <script src="/-assets/javascripts/application.js"></script>

        <script type="text/javascript">
        Application.start({
            router: 'user'
        });
        </script>
    </body>
</html>