<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script type="text/javascript" src="http://use.typekit.net/bsa5hge.js"></script>
        <script type="text/javascript">
        try {
            Typekit.load();
        } catch(e) {}
        </script>

        <script src="/-assets/javascripts/vendor/modernizr.js"></script>

        <link rel="stylesheet" href="/-assets/stylesheets/vendor.css">
        <link rel="stylesheet" href="/-assets/stylesheets/user.css">

        <title>PlaceTime - Timeline</title>
    </head>
    <body>


        <div class="layout-header"></div>
        <div class="layout-content"></div>


        <script type="text/template" id="header-template">
            <div class="navbar-inner layout-container-wide">
                <a class="navbar-brand pull-left" href="/">
                    <i class="icon-ok-circle"></i>
                    <i class="icon-time"></i>
                    placetime
                </a>

                <a class="navbar-tagline pull-left" href="/">a playlist for your life</a>

                <% if (pid !== null) { %>
                <ul class="navbar-nav pull-right">
                    <li>
                        <a data-dropdown=".navbar-dropdown">
                            <i class="icon-cog"></i>
                        </a>
                    </li>
                </ul>

                <div class="navbar-dropdown dropdown dropdown-tip dropdown-anchor-right">
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#user">
                                <i class="icon-user"></i>
                                <%= pid %>
                            </a>
                        </li>
                        <li>
                            <a href="#logout">
                                <i class="icon-signout"></i>
                                Logout
                            </a>
                        </li>
                    </ul>
                </div>
                <% } %>
            </div>
        </script>


        <script type="text/template" id="login-template">
            <p class="login-twitter">
                <a href="/-twitter" data-role="button" rel="external">
                    <i class="icon icon-twitter"></i>
                    Sign in with Twitter
                </a>
            </p>

            <p class="login-login">
                <a href="#login">Or login / Sign up</a>
            </p>

            <form class="form login-form">
                <div class="form-field">
                    <label for="name">User name</label>
                    <input type="text" name="pid" id="pid" value="" required="required">
                    <div class="form-hint"></div>
                </div>

                <div class="form-field">
                    <label for="name">Password</label>
                    <input type="password" name="pwd" id="pwd" value="" required="required">
                    <div class="form-hint"></div>
                </div>

                <div class="form-error"></div>

                <input type="submit" value="Login" class="wide">

                <p class="login-register">
                    <a href="#register">Dont have an account? Sign Up</a>
                </p>
            </form>
        </script>


        <script type="text/template" id="register-template">
            <h2 class="register-heading">
                <span>Register</span>
            </h2>

            <form class="form register-form">
                <div class="form-field">
                    <label for="name">User name</label>
                    <input type="text" name="pid">
                    <div class="form-hint"></div>
                </div>

                <div class="form-field">
                    <label for="email">Email address</label>
                    <input type="text" name="email">
                    <div class="form-hint"></div>
                </div>

                <div class="form-field">
                    <label for="name">Full name</label>
                    <input type="text" name="name">
                    <div class="form-hint"></div>
                </div>

                <div class="field">
                    <label for="name">Password</label>
                    <input type="password" name="pwd">
                    <div class="form-hint"></div>
                </div>

                <input class="wide" type="submit" value="Register">
            </form>
        </script>


        <script type="text/template" id="user-template">
            <h2>Edit Profile</h2>

            <form class="form">
                <div class="field">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" value="<%= name %>">
                </div>

                <div class="field">
                    <label for="bio">Bio</label>
                    <input type="text" name="bio" id="bio" value="<%= bio %>">
                </div>

                <div class="field">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" value="<%= email %>" required="required">
                </div>

                <div class="field">
                    <h3>Services</h3>
                    <p>
                        Opt out of seeing services that you aren't registered for in your timeline
                    </p>

                    <label for="services[spotify]">
                        Spotify
                        <input type="checkbox" name="services[spotify]" class="service" checked="checked">
                    </label>
                </div>

                <div class="field">
                    <input type="submit" value="Save" class="save">
                    <input type="submit" value="Destroy" class="destroy">
                    <input type="submit" value="Cancel" class="cancel">
                </div>
            </form>
        </script>


        <script type="text/template" id="user-email-template">
            <h2>Email Address</h2>

            <form class="form">
                <div class="field">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" value="<%= email %>" required="required">
                </div>

                <div class="field">
                    <input type="submit" value="Save">
                </div>
            </form>
        </script>


        <script type="text/template" id="suggestions-template">
        <div class="scroller">
            <div class="children"></div>
        </div>
        </script>


        <script type="text/template" id="load-more-template">
            Load more
        </script>


        <script type="text/template" id="no-results-template">
            No more results
        </script>


        <script type="text/template" id="loading-template">
            <img alt="Loading" src="/-assets/images/loading-items.gif" height="16" width="16" />
        </script>




        <script type="text/template" id="item-template">
            <div class="overlay"></div>

            <p class="sash event">
                <i class="icon-calendar"></i>
            </p>
            <p class="sash event-added">
                <i class="icon-calendar"></i>
            </p>
            <p class="sash video">
                <i class="icon-facetime-video"></i>
            </p>
            <p class="sash audio">
                <i class="icon-headphones"></i>
            </p>
            <p class="sash added">
                <span>
                    Added to playlist
                    <i class="icon-plus"></i>
                </span>
            </p>
            <p class="sash flagged">
                <span>
                    Flagged
                    <i class="icon-flag"></i>
                </span>
            </p>

            <div class="icon pull-left">
                <% if (author.profileimageurlhttps) { %>
                    <img src="<%= author.profileimageurlhttps %>" width="40" height="40" />
                <% } else { %>
                    <img src="/-assets/images/user.png" width="40" height="40" />
                <% } %>
            </div>
            <p class="username pull-left">
                <a href="#user/<%= encodeURI(author.pid) %>">
                    <%= author.pid %>
                </a>
            </p>


            <% if (media === 'video') { %>
                <p class="text pull-left">
                    <% if (isYoutube(link) === true) { %>
                        <a class="fancybox fancybox.iframe" href="<%= getYoutubeUrl(link) %>">
                            <i class="icon-play-circle"></i>
                            <%= text %>
                        </a>
                    <% } else { %>
                        <a class="fancybox fancybox.iframe" href="<%= link %>">
                            <i class="icon-play-circle"></i>
                            <%= text %>
                        </a>
                    <% } %>
                </p>
            <% } else if (media === 'audio') { %>
                <p class="text pull-left">
                    <% if (isSpotify(link) === true) { %>
                        <a class="fancybox fancybox.iframe" href="<%= getSpotifyUrl(link) %>">
                            <i class="icon-play-circle"></i>
                            <%= text %>
                        </a>
                    <% } else { %>
                        <a class="fancybox fancybox.iframe" href="<%= link %>">
                            <i class="icon-play-circle"></i>
                            <%= text %>
                        </a>
                    <% } %>
                </p>
            <% } else { %>
                <p class="text pull-left">
                    <a class="fancybox fancybox.iframe" href="<%= link %>">
                        <i class="icon-external-link"></i>
                        <%= text %>
                    </a>
                </p>
            <% } %>

            <% if (duration !== undefined && duration !== 0) { %>
                <% duration = getDuration(duration) %>
                <ul class="item-duration duration pull-left">
                    <% if (duration.days !== 0) { %>
                    <li class="days"><%= duration.days %>d</li>
                    <% } %>

                    <% if (duration.days !== 0 && duration.hours !== 0) { %>
                    <li class="durationcolon">:</li>
                    <% } %>

                    <% if (duration.hours !== 0) { %>
                    <li class="hours"><%= duration.hours %>h</li>
                    <% } %>

                    <% if (duration.hours !== 0 && duration.minutes !== 0) { %>
                    <li class="durationcolon">:</li>
                    <% } %>

                    <% if (duration.minutes !== 0) { %>
                    <li class="minutes"><%= duration.minutes %>m</li>
                    <% } %>

                    <% if (duration.minutes !== 0 && duration.seconds !== 0) { %>
                    <li class="durationcolon">:</li>
                    <% } %>

                    <% if (duration.seconds !== 0) { %>
                    <li class="seconds"><%= duration.seconds %>s</li>
                    <% } %>
                </ul>
            <% } %>

            <% if (via !== undefined) { %>
                <p class="via pull-left">
                    <a href="#user/<%= via.pid %>">
                        copied by <%= via.name %>
                    </a>
                </p>
            <% } %>

            <p class="time pull-left">
                <a class="fancybox fancybox.iframe" href="<%= link %>">
                    <% if (isEvent(media)) { %>
                        <i class="icon-calendar"></i> <span class="event">event:</span>
                    <% } else { %>
                        <i class="icon-time"></i> <span class="added">added:</span>
                    <% } %>
                    <span class="timestamp"><%= time(ts, event, added).fromNow() %></span>
                    <a class="url" href="<%= url(id) %>">link</span>
                </a>
            </p>

            <% if (Application.session.get('pid') === user && status !== 'p') { %>
                <a class="button demote">
                    <i class="icon-remove"></i>
                </a>
            <% } else { %>
                <a class="button promote">
                    <i class="icon-ok"></i>
                </a>
            <% } %>
        </script>


        <script type="text/template" id="item-add-template">
            <form class="form item-add-form">
                <div class="field item-add-type">
                    <label for="watch">
                        <input type="radio" name="type" value="video" id="watch" checked="checked">
                        Watch
                    </label>
                    <label for="listen">
                        <input type="radio" name="type" value="audio" id="listen">
                        Listen
                    </label>
                    <label for="do">
                        <input type="radio" name="type" value="event" id="do">
                        Do
                    </label>
                    <label for="read">
                        <input type="radio" name="type" value="text" id="read">
                        Read
                    </label>
                </div>

                <div class="field item-add-title">
                    <input type="text" name="text" placeholder="Title" value="<%= text %>">
                </div>

                <div class="field item-add-image">
                    <div class="item-add-image-placeholder">
                        <img src="/-assets/images/loading-image.gif" height="16" width="16" />

                        <% if (duration !== undefined && duration !== 0) { %>
                            <% duration = getDuration(duration) %>
                            <ul class="item-add-duration duration">
                                <% if (duration.days !== 0) { %>
                                <li class="days"><%= duration.days %>d</li>
                                <% } %>

                                <% if (duration.days !== 0 && duration.hours !== 0) { %>
                                <li class="durationcolon">:</li>
                                <% } %>

                                <% if (duration.hours !== 0) { %>
                                <li class="hours"><%= duration.hours %>h</li>
                                <% } %>

                                <% if (duration.hours !== 0 && duration.minutes !== 0) { %>
                                <li class="durationcolon">:</li>
                                <% } %>

                                <% if (duration.minutes !== 0) { %>
                                <li class="minutes"><%= duration.minutes %>m</li>
                                <% } %>

                                <% if (duration.minutes !== 0 && duration.seconds !== 0) { %>
                                <li class="durationcolon">:</li>
                                <% } %>

                                <% if (duration.seconds !== 0) { %>
                                <li class="seconds"><%= duration.seconds %>s</li>
                                <% } %>
                            </ul>
                        <% } %>
                    </div>
                </div>

                <div class="field item-add-event">
                    <label for="event">
                        Add event or schedule date:
                        <input type="checkbox" name="event" id="event">
                    </label>
                </div>

                <div class="field item-add-ets">
                    <label for="ets">Event Date</label>
                    <input type="date" placeholder="dd/mm/yyyy" min="1900-00-00" name="ets" value="<%= ets %>">
                </div>

                <div class="actions">
                    <input type="hidden" name="duration" value="<%= duration %>">

                    <input type="submit" value="Add" class="item-add-btn-add">
                    <input type="submit" value="Cancel" class="item-add-btn-cancel">
                </div>
            </form>
        </script>


        <script type="text/template" id="item-empty-template">
            <p>
                <% if (loading === true) { %>
                    <span>Loading results</span>
                    <img alt="Loading" class="loading" src="/-assets/images/vendor/jquery/fancybox/fancybox_loading.gif" height="24" width="24" />
                <% } else { %>
                    <% if (Application.session.get('pid') === user) { %>
                        <% if (status === 'p') { %>
                            There are no items in your timeline, search for users to follow
                        <% } else { %>
                            Add a new item or copy one from your timeline
                        <% } %>
                    <% } else { %>
                        There are no items in <%= user %> timeline
                    <% } %>
                <% } %>
            </p>
        </script>



        <script type="text/template" id="search-empty-template">
            <% if (loading === true) { %>
                <span>Loading search results</span>
                <img alt="Loading" class="loading" src="/-assets/images/vendor/jquery/fancybox/fancybox_loading.gif" height="24" width="24" />
            <% } else { %>
                <span>No results</span>
            <% } %>
        </script>



        <script type="text/template" id="suggestion-empty-template">
            <% if (loading === true) { %>
                <span>Loading search results</span>
                <img alt="Loading" class="loading" src="/-assets/images/vendor/jquery/fancybox/fancybox_loading.gif" height="24" width="24" />
            <% } else { %>
                <span>No results</span>
            <% } %>
        </script>



        <script type="text/template" id="following-template">
            <p class="sash unfollowed">
                <span>
                    Unfollowed
                    <i class="icon-minus"></i>
                </span>
            </p>
            <p class="sash flagged">
                <span>
                    Flagged
                    <i class="icon-flag"></i>
                </span>
            </p>


            <div class="icon pull-left">
                <% if (profileimageurl) { %>
                    <img src="<%= profileimageurl %>" width="40" height="40" />
                <% } else { %>
                    <img src="/-assets/images/user.png" width="40" height="40" />
                <% } %>
            </div>

            <p class="username pull-left">
                <a href="#user/<%= encodeURI(pid) %>">
                    <%= pid %>
                    <i class="icon-flag flag" title="Flag profile for spam"></i>
                </a>
            </p>

            <% if (bio) { %>
            <p class="bio pull-left">
                <% if (name) { %>
                    <span class="name"><%= name %></span>:
                <% } %>

                <%= bio %>
            </p>
            <% } %>

            <ul class="statistics pull-left">
                <li class="followings">
                    <a href="#followings/<%= pid %>"><%= followingcount %> following</a>
                </li>
                <li class='followers'>
                    <a href="#followers/<%= pid %>"><%= followercount %> followers</a>
                </li>
            </ul>

            <% if (Application.session.get('pid') === user) { %>
                <a class="button unfollow">
                    <i class="icon-minus"></i>
                </a>
            <% } %>
        </script>



        <script type="text/template" id="follower-template">
            <p class="sash followed">
                <span>
                    Followed
                    <i class="icon-plus"></i>
                </span>
            </p>
            <p class="sash flagged">
                <span>
                    Flagged
                    <i class="icon-flag"></i>
                </span>
            </p>

            <div class="icon pull-left">
                <% if (profileimageurl) { %>
                    <img src="<%= profileimageurl %>" width="40" height="40" />
                <% } else { %>
                    <img src="/-assets/images/user.png" width="40" height="40" />
                <% } %>
            </div>

            <p class="username pull-left">
                <a href="#user/<%= encodeURI(pid) %>">
                    <%= pid %>
                    <i class="icon-flag flag" title="Flag profile for spam"></i>
                </a>
            </p>

            <% if (bio) { %>
            <p class="bio pull-left">
                <% if (name) { %>
                    <span class="name"><%= name %></span>:
                <% } %>

                <%= bio %>
            </p>
            <% } %>

            <ul class="statistics pull-left">
                <li class="followings">
                    <a href="#followings/<%= pid %>"><%= followingcount %> following</a>
                </li>
                <li class='followers'>
                    <a href="#followers/<%= pid %>"><%= followercount %> followers</a>
                </li>
            </ul>

            <% if (reciprocal === false) { %>
            <a class="button follow">
                <i class="icon-plus"></i>
            </a>
            <% } %>
        </script>


        <script type="template/text" id="timeline-public-header-template">
            <ul class="timeline-nav pull-left">
                <li class="items first <%= (view == 'timeline')? 'active':'' %>">
                    <a href="#timeline">Timeline</a>
                </li>
                <li class="followings <%= (view == 'followings')? 'active':'' %>">
                    <a href="#followings">Following</a>
                </li>
                <li class="followers last <%= (view == 'followers')? 'active':'' %>">
                    <a href="#followers">Followers</a>
                </li>
            </ul>


            <form class="form">
                <select class="pull-left type" name="t">
                    <% if (type === 'v') { %>
                        <option value="v" selected="selected">Watch</option>
                    <% } else { %>
                        <option value="v">Watch</option>
                    <% } %>

                    <% if (type === 'a') { %>
                        <option value="a" selected="selected">Listen</option>
                    <% } else { %>
                        <option value="a">Listen</option>
                    <% } %>

                    <% if (type === 'e') { %>
                        <option value="e" selected="selected">Do</option>
                    <% } else { %>
                        <option value="e">Do</option>
                    <% } %>

                    <% if (view === 'followings' || view === 'followers') { %>
                        <option value="p" selected="selected">People</option>
                    <% } else if (type === 'p') { %>
                        <option value="p" selected="selected">People</option>
                    <% } else { %>
                        <option value="p">People</option>
                    <% } %>
                </select>

                <input class="pull-left search" name="s" type="search" placeholder="<%= placeholders[type] %>" value="<%= search %>" required="required">
            </form>
            <% if (view === 'timeline') { %>
            <a class="now pull-right">
                now <i class="icon-now icon-repeat"></i>
            </a>
            <% } else if (view === 'search') { %>
            <a class="back pull-right" href="#timeline">
                back <i class="icon-back icon-arrow-left"></i>
            </a>
            <% } %>
        </script>


        <script type="template/text" id="timeline-private-header-template">
            <ul class="timeline-nav pull-left">
                <li class="items active first last">
                    <a href="#timeline" class="playlist">My Playlist</a>
                </li>
            </ul>

            <form class="form">
                <input class="pull-left url" name="url" type="url" placeholder="http://www.domain.com/" required="required">
                <input class="pull-left add" name="submit" type="submit" value="Add">
            </form>

            <% if (view === 'timeline') { %>
            <a class="now pull-right">
                now <i class="icon-now icon-repeat"></i>
            </a>
            <% } %>
        </script>


        <script type="template/text" id="timeline-template">
            <% if (status === 'p') { %>
            <div class="timeline timeline-public">
            <% } else { %>
            <div class="timeline timeline-private">
            <% } %>
                <div class="timeline-header"></div>
                <div class="timeline-collection"></div>
            </div>
        </script>


        <script type="text/template" id="items-template">
        <div class="scroller">
            <div class="children"></div>
        </div>
        <div class="needle-view"></div>
        </script>


        <script type="text/template" id="followings-template">
        <div class="scroller">
            <div class="children"></div>
        </div>
        </script>



        <script type="text/template" id="followers-template">
        <div class="scroller">
            <div class="children"></div>
        </div>
        </script>


        <script type="text/template" id="searches-template">
        <div class="scroller">
            <div class="children"></div>
        </div>
        </script>


        <script type="text/template" id="search-item-template">
            <div class="overlay"></div>

            <p class="sash event">
                <i class="icon-calendar"></i>
            </p>
            <p class="sash event-added">
                <i class="icon-calendar"></i>
            </p>
            <p class="sash video">
                <i class="icon-facetime-video"></i>
            </p>
            <p class="sash audio">
                <i class="icon-headphones"></i>
            </p>
            <p class="sash added">
                <span>
                    Added to playlist
                    <i class="icon-plus"></i>
                </span>
            </p>
            <p class="sash flagged">
                <span>
                    Flagged
                    <i class="icon-flag"></i>
                </span>
            </p>


            <div class="icon pull-left">
                <% if (author.profileimageurlhttps) { %>
                    <img src="<%= author.profileimageurlhttps %>" width="40" height="40" />
                <% } else { %>
                    <img src="/-assets/images/user.png" width="40" height="40" />
                <% } %>
            </div>
            <p class="username pull-left">
                <a href="#user/<%= encodeURI(author.pid) %>">
                    <%= author.pid %>
                </a>
            </p>


            <% if (media === 'video') { %>
                <p class="text pull-left">
                    <% if (isYoutube(link) === true) { %>
                        <a class="fancybox fancybox.iframe" href="<%= getYoutubeUrl(link) %>">
                            <i class="icon-play-circle"></i>
                            <%= text %>
                        </a>
                    <% } else { %>
                        <a class="fancybox fancybox.iframe" href="<%= link %>">
                            <i class="icon-play-circle"></i>
                            <%= text %>
                        </a>
                    <% } %>
                </p>
            <% } else if (media === 'audio') { %>
                <p class="text pull-left">
                    <% if (isSpotify(link) === true) { %>
                        <a class="fancybox fancybox.iframe" href="<%= getSpotifyUrl(link) %>">
                            <i class="icon-play-circle"></i>
                            <%= text %>
                        </a>
                    <% } else { %>
                        <a class="fancybox fancybox.iframe" href="<%= link %>">
                            <i class="icon-play-circle"></i>
                            <%= text %>
                        </a>
                    <% } %>
                </p>
            <% } else { %>
                <p class="text pull-left">
                    <a class="fancybox fancybox.iframe" href="<%= link %>">
                        <i class="icon-external-link"></i>
                        <%= text %>
                    </a>
                </p>
            <% } %>

            <% if (duration !== undefined && duration !== 0) { %>
                <% duration = getDuration(duration) %>
                <ul class="search-item-duration duration pull-left">
                    <% if (duration.days !== 0) { %>
                    <li class="days"><%= duration.days %>d</li>
                    <% } %>

                    <% if (duration.days !== 0 && duration.hours !== 0) { %>
                    <li class="durationcolon">:</li>
                    <% } %>

                    <% if (duration.hours !== 0) { %>
                    <li class="hours"><%= duration.hours %>h</li>
                    <% } %>

                    <% if (duration.hours !== 0 && duration.minutes !== 0) { %>
                    <li class="durationcolon">:</li>
                    <% } %>

                    <% if (duration.minutes !== 0) { %>
                    <li class="minutes"><%= duration.minutes %>m</li>
                    <% } %>

                    <% if (duration.minutes !== 0 && duration.seconds !== 0) { %>
                    <li class="durationcolon">:</li>
                    <% } %>

                    <% if (duration.seconds !== 0) { %>
                    <li class="seconds"><%= duration.seconds %>s</li>
                    <% } %>
                </ul>
            <% } %>


            <% if (via !== undefined) { %>
                <p class="via pull-left">
                    <a href="#user/<%= via.pid %>">
                        copied by <%= via.name %>
                    </a>
                </p>
            <% } %>

            <% if (media !== 'video' && media !== 'audio') { %>
                <p class="time pull-left">
                    <a class="fancybox fancybox.iframe" href="<%= link %>">
                        <% if (isEvent(media)) { %>
                            <i class="icon-calendar"></i> <span class="event">event:</span>
                            <span class="timestamp"><%= time(ts, event, added).fromNow() %></span>
                        <% } else { %>
                            <i class="icon-time"></i> <span class="added">added:</span>
                            <span class="timestamp"><%= time(ts, event, added).fromNow() %></span>
                        <% } %>
                        <a class="url" href="<%= url(id) %>">link</span>
                    </a>
                </p>
            <% } %>

            <a class="button add">
                <i class="icon-ok"></i>
            </a>
        </script>



        <script type="text/template" id="search-profile-template">
            <p class="sash followed">
                <span>
                    Followed
                    <i class="icon-plus"></i>
                </span>
            </p>
            <p class="sash flagged">
                <span>
                    Flagged
                    <i class="icon-flag"></i>
                </span>
            </p>

            <div class="icon pull-left">
                <% if (profileimageurl) { %>
                    <img src="<%= profileimageurl %>" width="40" height="40" />
                <% } else { %>
                    <img src="/-assets/images/user.png" width="40" height="40" />
                <% } %>
            </div>

            <p class="username pull-left">
                <a href="#user/<%= encodeURI(pid) %>">
                    <%= pid %>
                </a>
            </p>

            <% if (bio) { %>
            <p class="bio pull-left">
                <% if (name) { %>
                    <span class="name"><%= name %></span>:
                <% } %>

                <%= bio %>
            </p>
            <% } %>

            <ul class="statistics pull-left">
                <li class="followings">
                    <a href="#followings/<%= pid %>"><%= followingcount %> following</a>
                </li>
                <li class='followers'>
                    <a href="#followers/<%= pid %>"><%= followercount %> followers</a>
                </li>
            </ul>

            <a class="button follow">
                <i class="icon-plus"></i>
            </a>
        </script>



        <script type="text/template" id="suggestion-template">
            <p class="sash followed">
                <span>
                    Followed
                    <i class="icon-plus"></i>
                </span>
            </p>
            <p class="sash flagged">
                <span>
                    Flagged
                    <i class="icon-flag"></i>
                </span>
            </p>

            <div class="icon pull-left">
                <% if (profileimageurl) { %>
                    <img src="<%= profileimageurl %>" width="40" height="40" />
                <% } else { %>
                    <img src="/-assets/images/user.png" width="40" height="40" />
                <% } %>
            </div>

            <p class="username pull-left">
                <a href="#user/<%= encodeURI(pid) %>">
                    <%= pid %>
                </a>
            </p>

            <% if (bio) { %>
            <p class="bio pull-left">
                <% if (name) { %>
                    <span class="name"><%= name %></span>:
                <% } %>

                <%= bio %>
            </p>
            <% } %>

            <ul class="statistics pull-left">
                <li class="followings">
                    <a href="#followings/<%= pid %>"><%= followingcount %> following</a>
                </li>
                <li class='followers'>
                    <a href="#followers/<%= pid %>"><%= followercount %> followers</a>
                </li>
            </ul>

            <a class="button follow">
                <i class="icon-plus"></i>
            </a>
        </script>


        <script type="text/template" id="now-template">
            <div class="now-separator-future">
                Upcoming items
            </div>

            <div class="now-separator-past">
                Latest items
            </div>
        </script>

        <script type="text/template" id="needle-template">
            <div class="needle-date">
                <span class="needle-value"></span>
                <i class="needle-icon-repeat icon-repeat"></i>
            </div>
        </script>

        <script type="text/template" id="needle-now-template">
        <div class="needle-date">
            <span class="needle-future pull-left">
                <i class="icon-arrow-up"></i> Future
            </span>
            <span class="needle-now">
                Now
                <i class="needle-icon-repeat icon-repeat"></i>
            </span>
            <span class="needle-past pull-right">
               Past <i class="icon-arrow-down"></i>
            </span>
        </div>
        </script>


        <script type="text/template" id="timelines-template">
            <div class="timeline-public"></div>
            <div class="timeline-private"></div>
        </script>


        <script src="/-assets/javascripts/vendor.js"></script>
        <script src="/-assets/javascripts/application.js"></script>

        <script type="text/javascript">
        Application.start({
            router: 'user'
        });
        </script>
    </body>
</html>
