.item-add {
    max-height: none;
    padding-top: 60px;
}


.item-add-media {
    margin-bottom: 15px;
}

.item-add-media label {
    width: 87px
}


.item-add-title input {
    width: 332px;
}

.item-add-event label {
    width: auto
}


.item-add-image img {
    max-height: 175px;
    max-width: 347px;
}

.item-add-image-placeholder {
    @include single-box-shadow(
        rgba(0, 0, 0, 0.2), 1px, 2px, 4px
    );
    background-color: #eeeeee;
    display: inline-block;
    height: 175px;
    margin: 4px 0 10px 0 ;
    padding: 4px;
    position: relative;
    text-align: center;
    width: 347px;
}


// Image list
.item-add-image-list {
    list-style: none;
    margin: 0;
    padding: 0
}

.item-add-image-list-item {
    display: none;
}

.item-add-image-list-current {
    display: block;
}


// Controls
.item-add-image-controls {
    bottom: 2px;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 347px;
}

.item-add-image-controls-next {
    float: right;
}

.item-add-image-controls-prev {
    float: left;
}



.item-add-duration {
    bottom: 0;
    left: 7px;
    position: absolute;
}


.item-add-ets {
    display: none;
}

.item-add-btn-add {
    width: 120px;
}

.item-add-btn-cancel {
    width: 80px;
}