.item-add {
    max-height: none;
    padding-top: 60px;
}


.item-add-media {
    margin: 0 0 15px 0;
    padding: 0;
}

.item-add-media-type {
    @include border-radius(3px);
    background-color: #eee;
    border: 0px;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    height: 18px;
    padding: 16px 12px 12px;
    margin: 4px 4px 4px 0px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    width: 87px
}

.item-add-media-type .sash.video,
.item-add-media-type .sash.audio,
.item-add-media-type .sash.event,
.item-add-media-type .sash.text {
    opacity: 0.5;
    width: 0px;
}

.item-add-media-type .sash {
    opacity: 0.5;
    width: 0px;
}

.item-add-media-type-is-selected .sash.video,
.item-add-media-type-is-selected .sash.audio,
.item-add-media-type-is-selected .sash.event,
.item-add-media-type-is-selected .sash.text {
    opacity: 1;
}


.item-add-title input {
    width: 332px;
}

.item-add-has-event label {
    width: auto
}

.item-add-event {
    display: none;
}

.item-add-image-placeholder {
    @include single-box-shadow(
        rgba(0, 0, 0, 0.2), 1px, 2px, 4px
    );
    background-color: #aaaaaa;
    display: inline-block;
    height: 175px;
    margin: 4px 0 10px 0;
    position: relative;
    text-align: center;
    width: 470px;
}


// Image list
.item-add-image-list {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0
}

.item-add-image-list-empty {
    display: none;
}

.item-add-image-list-item {
    background-size: cover;
    background-position-y: 35%;
    display: none;
    height: 175px;
    width: 470px;
}

.item-add-image-list-current {
    display: block;
}


// Controls
.item-add-image-controls {
    display: none;
    bottom: 2px;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 470px;
}

.item-add-image-controls-next {
    float: right;
    margin-right: 5px;
}

.item-add-image-controls-prev {
    float: left;
    margin-left: 5px;
}



.item-add-duration {
    bottom: 0;
    left: 7px;
    position: absolute;
}


.item-add-btn-add {
    width: 120px;
}

.item-add-btn-cancel {
    width: 80px;
}