@import 'compass';

.login {
    height: 110px;
    left: 50%;
    margin-left: -179px;
    margin-top: -40px;
    position: absolute;
    top: 50%;
    text-align: center;
    width: 358px;
}

.login-twitter {
    a {
        @include border-radius(7px);
        background-color: #ff6600;
        color: #fff;
        display: inline-block;
        padding: 12px 15px 12px;
        text-decoration: none;
    }

    .icon {
        color: #1ab7ea;
        font-size: 20px;
        text-decoration: none;
    }
}

.login-register,
.login-login {
    text-align: center;

    a {
        background-color: rgba(170, 170, 170, 0.8);
        padding: 3px 4px;
    }
}


.login-form {
    display: none;
}