@import 'compass';

.navbar {
    @include single-box-shadow(#222222, 0px, 2px, 5px);
    background-color: #ffffff;
    border-bottom: 8px solid #ccc;
    position: fixed;
    height: 45px;
    top: 0;
    width: 100%;
}

.navbar-inner {
    overflow: hidden;
}


.navbar-nav {
    padding: 0;
    list-style: none;
    margin: 5px 25px 0;

    // TODO: Move;
    .icon-cog {
        font-size: 33px;
        color:#555555;
    }
}


.navbar-brand {
    color: #555555;
    font-size: 23px;
    margin: 8px 0 0 22px;

    .icon-ok-circle {
        margin-right: -3px;
    }

    .icon-ok-circle,
    .icon-time {
        color: #ff6600;
        font-size: 30px;
        float: left;
        margin-top: 0px;
    }

    .icon-time {
        margin-right: 10px;
    }
}


.navbar-tagline {
    color: #555555;
    font-size: 14px;
    margin: 16px 0 0 25px;
}



.navbar-dropdown {
    .icon-edit,
    .icon-signout {
        font-size: 20px;
    }
}

.navbar-dropdown-trigger {
    cursor: pointer;
}