.now-separator {
    margin-top: -6px;
}


.now-separator-future,
.now-separator-past {
    background-color: #fff;
    font-size: 12px;
    padding: 5px 12px;
}

.now-separator-future {
    @include border-radius(0 0 8px 8px);
}

.now-separator-past {
    @include border-radius(8px 8px 0 0);
    margin-top: 15px;
}