.now-separator {
    @include translateZ(0);
    @include transition(
        padding-top 500ms linear 250ms,
        padding-bottom 500ms linear 250ms,
        margin-bottom 500ms linear 250ms,
        max-height 500ms linear 250ms
    );
    margin-top: -6px;
    max-height: 80px;
    overflow: hidden;
}


.now-separator.is-collapsed {
    margin-bottom: 0;
    max-height: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}


.now-separator-future,
.now-separator-past {
    background-color: #fff;
    font-size: 12px;
    padding: 5px 12px;
}

.now-separator-future {
    @include border-radius(0 0 4px 4px);
}

.now-separator-past {
    @include border-radius(4px 4px 0 0);
    margin-top: 15px;
}

