.sash {
    border-style: solid;
    color: #ffffff;
    height: 0px;
    opacity: 0;
    line-height: 0px;
    margin: 0;
    position: absolute;
    right: 0;
    width: 0;
    z-index: 2;

    &.event {
        border-color: transparent #ff6600 transparent transparent;
        border-width: 0 48px 48px 0;
        font-size: 14px;
        top: 0;
        width: 120px;
    }

    &.video {
        border-color: transparent #5f39bb transparent transparent;
        border-width: 0 48px 48px 0;
        font-size: 14px;
        top: 0;
        width: 120px;
    }

    &.audio {
        border-color: transparent #bc1c48 transparent transparent;
        border-width: 0 48px 48px 0;
        font-size: 14px;
        top: 0;
        width: 120px;
    }

    &.text {
        border-color: transparent #24a8ce transparent transparent;
        border-width: 0 48px 48px 0;
        font-size: 14px;
        top: 0;
        width: 120px;
    }


    .icon-calendar,
    .icon-file-alt,
    .icon-headphones,
    .icon-facetime-video {
        position: absolute;
        right: -42px;
    }

    .icon-calendar {
        top: 5px;
    }

    .icon-facetime-video {
        top: 7px;
    }

    .icon-file-alt {
        font-size: 16px;
        top: 6px;
    }

    .icon-headphones {
        font-size: 16px;
        top: 7px;
    }
}
