@import 'compass';
@import 'mixins/_calc';

.timeline {
    position: relative;
}

.timeline-public {
    padding: 0 4px 0 8px;
}

.timeline-private {
    padding: 0 8px 0 4px;
}


.timeline-header {
    @include box-shadow(
        0px 2px 3px #666
    );
    background-color: rgba(255, 255, 255, 0.95);
    border-bottom: 0px solid #000;
    height: 46px;
    position: absolute;
    top: 0;
    width: 98%;
    @include calc(width, '100% - 12px');
    z-index: 4;

    .title {
        color: #fff;
        font-size: 14px;
        font-weight: normal;
        margin: 12px 6px 4px 15px;
        padding: 0;
    }

    .search,
    .url,
    .add {
        @include border-radius(16px);
        font-size: 14px;
        height: 25px;
        padding: 4px 12px;
        margin-top: 8px;
    }

    .selector {
        float: left;
    }

    .selector {
        margin: 10px 0 0 15px;
    }

    .selector .type {
        margin: 1px 0 0 0;
        height: auto
    }

    .search {
        margin-left: 15px;
        width: 185px;
    }

    .url {
        margin-left: 15px;
        width: 250px;
    }

    .add {
        margin: 11px 0 0 -55px;
        padding: 0;
        width: 50px;
        height: 25px;
        color: #ffffff;

         &:hover {
           color: #000000;
          
         }
         &:active {
           color: #ff6600;
         }
    }


    // Now
    .now,
    .back {
        @include single-transition(opacity, 0.5s, ease-in-out);

        border-bottom: 0;
        cursor: pointer;
        font-size: 12px;
        margin: 8px 18px 0 0;
        opacity: 1;

        &:hover {
            .icon-repeat {
                color: #000000;
            }
        }

        &:active {
            .icon-repeat {
                color: #ff6600;
            }
        }

        .icon-now,
        .icon-back {
            color: #555555;
            display: inline-block;
        }

        .icon-now {
            font-size: 32px;
        }


        .icon-back {
            font-size: 30px;
            margin-top: 1px;
        }
    }
}

.timeline-header-public {
    .type {
        margin: 12px 0 0 15px;
    }
}

.timeline-header-private {

}


.timeline-nav {
    font-size: 14px;
    list-style: none;
    margin: 15px 12px;
    padding: 0;


    li {
        display: inline-block;
        margin-right: 15px;

        &.active {
            a {
                color: #ff6600;
            }
        }

        &.last {
            margin-right: 0;
        }


        a {
            cursor: pointer;
            display: inline-block;
        }
    }
}


.scroller {
    @include translateZ(0);
    -webkit-overflow-scrolling: touch;
    position: relative;
    overflow: scroll;
    height: 100%;
    width: 100%;
}
