@import 'compass';

.followings,
.followers,
.suggestions,
.searches.profiles {
    .item {
        @include border-radius(2px);
        @include single-box-shadow(
            #aaaaaa, 1px, 1px, 2px
        );
        background-color: #fff;
        margin: 0 0 7px;
        overflow: hidden;
        padding: 15px;
        position: relative;

        .username {
            color: #000000;
        }

        .icon {
            img {
                border-color: #999;
            }
        }

        .bio {
            margin-bottom: 15px;
            margin-top: 12px;

            .name {
                color: #ff6600;
            }
        }

        .statistics {
            list-style: none;
            margin: 0;
            padding: 0;

            .followings,
            .followers {
                display: inline;
            }

            .followings {
                padding-right: 15px;
            }
        }

        .unfollow {
            padding: 7px 9px 3px 10px;
        }

        .follow {
            padding: 6px 9px 3px 9px;
        }
    }
}