<!DOCTYPE html>
<html>

	<head>
		<title>Placetime Admin</title>
	    <link href="/-assets/css/bootstrap.css" rel="stylesheet">
	    <style type="text/css">
	      body {
	        padding-top: 60px;
	        padding-bottom: 40px;
	      }
	    </style>
	    <link href="/-assets/css/bootstrap-responsive.css" rel="stylesheet">

	</head>

	<body>
		<div class="container">
			<h1>Placetime Admin</h1>
			<div class="row">

			 <div class="span12">

					<p>Blurb...</p>
					<p><a href="https://github.com/iand/timescroll/wiki/API">API docs are here</a></p>
			    <ul>
			    
			    <li><a href="#jtl">User timelines</a></li>
			    <li><a href="#jit">Item details</a></li>
			    <li><a href="#jpr">Profile details</a></li>
			    <li><a href="#jfollowers">Followers</a></li>
			    <li><a href="#jfollowing">Following</a></li>
			    <li><a href="#jsp">Suggested profiles</a></li>
			    <li><a href="#tfollow">Follow a user</a></li>
			    <li><a href="#tunfollow">Unfollow a user</a></li>
			    <li><a href="#tadd">Add an item</a></li>
			    <li><a href="#tpromote">Promote an item</a></li>
			    <li><a href="#tdemote">Demote an item</a></li>
			    <li><a href="#taddsuggest">Add a suggested profile</a></li>
			    <li><a href="#tremsuggest">Remove a suggested profile</a></li>
			    </ul>


					<h2>API</h2>

					<p>Convenient access to API calls. Remember these output JSON.</p>

					<h3 id="jtl">User timelines</h3>
					<p>Retrieve timeline items for a user.</p>
					<form action="/-jtl" method="get" class="form-horizontal">
						<div class="control-group"><label class="control-label" for="pid">User id: </label><div class="controls"><input type="text" name="pid" size="20" value="nasa"></div></div>
						<div class="control-group"><label class="control-label" for="order">Sort order: </label><div class="controls"><select name="order"><option value="ts">Creation date</option><option value="ets">Event date</option></select></div></div>
						<div class="control-group"><label class="control-label" for="status">Status: </label><div class="controls"><select name="status"><option value="p">Possibly</option><option value="m">Maybe</option></select></div></div>	

						<div class="control-group"><label class="control-label" for="count">Count: </label><div class="controls"><input type="text" name="count" size="5"></div></div>
						<div class="control-group"><label class="control-label" for="tstart">Starting timestamp: </label><div class="controls"><input type="text" name="tstart" size="5"> (not implemented yet)</div></div>
						<div class="control-group"><label class="control-label" for="tend">Ending timestamp: </label><div class="controls"><input type="text" name="tend" size="5"> (not implemented yet)</div></div>


						<div class="control-group"><div class="controls"><input type="submit" value="GO"></div></div>

					</form>
					<hr>


					<h3 id="jit">Item details</h3>
					<p>Retrieve a single item. </p>
					<form action="/-jit" method="get" class="form-horizontal">
						<div class="control-group">
						<label class="control-label" for="id">Item id:</label>
						<div class="controls"><input type="text" name="id" size="20" value="item:nasa:10"></div></div>

						<div class="control-group"><div class="controls">
						<input type="submit" value="GO">
						</div></div>
					</form>
					<hr>

					<h3 id="jpr">Profile details</h3>
					<p>Retrieve information about a profile </p>
					<form action="/-jpr" method="get" class="form-horizontal">
						<div class="control-group">
						<label class="control-label" for="pid">Profile id: </label>
						<div class="controls"><input type="text" name="pid" size="20" value="nasa"></div></div>

						<div class="control-group"><div class="controls">
						<input type="submit" value="GO">
						</div></div>
					</form>
					<hr>

					<h3 id="jfollowers">Followers</h3>
					<p>List a user's followers </p>
					<form action="/-jfollowers" method="get" class="form-horizontal">
						<div class="control-group">
							<label class="control-label" for="pid">Profile id: </label>
							<div class="controls">
								<input type="text" name="pid" size="20" value="nasa">
							</div>
						</div>

						<div class="control-group">
							<label class="control-label" for="count">Max number of results: </label>
							<div class="controls">
								<input type="text" name="count" size="5" value="20">
							</div>
						</div>

						<div class="control-group">
							<label class="control-label" for="count">Starting index: </label>
							<div class="controls">
								<input type="text" name="count" size="5" value="0"> (for paging)
							</div>
						</div>

						<div class="control-group">
							<div class="controls">
								<input type="submit" value="GO">
							</div>
						</div>
					</form>
					<hr>

					<h3 id="jfollowing">Following</h3>
					<p>List who the user follows</p>
					<form action="/-jfollowing" method="get" class="form-horizontal">
						<div class="control-group">
							<label class="control-label" for="pid">Profile id: </label>
							<div class="controls">
								<input type="text" name="pid" size="20" value="nasa">
							</div>
						</div>

						<div class="control-group">
							<label class="control-label" for="count">Max number of results: </label>
							<div class="controls">
								<input type="text" name="count" size="5" value="20">
							</div>
						</div>

						<div class="control-group">
							<label class="control-label" for="count">Starting index: </label>
							<div class="controls">
								<input type="text" name="count" size="5" value="0"> (for paging)
							</div>
						</div>

						<div class="control-group">
							<div class="controls">
								<input type="submit" value="GO">
							</div>
						</div>
					</form>
					<hr>

					<h3 id="jsp">Suggested profiles</h3>
					<p>Retrieve a list of suggested profiles for a location.</p>
					<form action="/-jsp" method="get" class="form-horizontal">
						<div class="control-group">
							<label class="control-label" for="loc">Location: </label>
							<div class="controls">
								<input type="text" name="loc" size="20" value="london">
							</div>
						</div>

						<div class="control-group">
							<div class="controls">
								<input type="submit" value="GO">
							</div>
						</div>
					</form>
					<hr>


					<h3 id="tfollow">Follow a user</h3>
					<p>Make one user follow another </p>
					<form action="/-tfollow" method="post" class="form-horizontal">
						<div class="control-group">
						<label class="control-label" for="pid">Profile id: </label>
						<div class="controls"><input type="text" name="pid" size="20" value="iand"></div></div>

						<div class="control-group">
						<label class="control-label" class="control-label" for="followpid">Profile id to follow: </label>
						<div class="controls"><input type="text" name="followpid" size="20" value="nasa"></div></div>

						<div class="control-group"><div class="controls">
						<input type="submit" value="GO">
						</div></div>
					</form>
					<hr>

					<h3 id="tunfollow">Unfollow a user</h3>
					<p>Stop one user following another </p>
					
					<form action="/-tunfollow" method="post" class="form-horizontal">
						<div class="control-group">
						<label class="control-label" for="pid">Profile id: </label>
						<div class="controls"><input type="text" name="pid" size="20" value="iand"></div></div>

						<div class="control-group">
						<label class="control-label" for="followpid">Profile id to unfollow: </label>
						<div class="controls"><input type="text" name="followpid" size="20" value="nasa"></div></div>

						<div class="control-group"><div class="controls">
						<input type="submit" value="GO">
					</div></div>
					</form>
					<hr>



					<h3 id="tadd">Add an item to a user's maybe timeline</h3>
					
					<form action="/-tadd" method="post" class="form-horizontal">
						<div class="control-group">
							<label class="control-label" for="pid">Profile id: </label>
							<div class="controls">
								<input type="text" name="pid" size="20" value="iand">
							</div>
						</div>

						<div class="control-group">
							<label class="control-label" for="text">Item text: </label>
							<div class="controls">
								<input type="text" name="text" size="40">
							</div>
						</div>

						<div class="control-group">
							<label class="control-label" for="link">Link: </label>
							<div class="controls">
								<input type="text" name="link" size="40">
							</div>
						</div>

						<div class="control-group">
							<label class="control-label" for="ets">Event timestamp: </label>
							<div class="controls">
								<input type="text" name="ets" size="20"> (like 26 Aug 2012)
							</div>
						</div>

						<div class="control-group">
							<div class="controls">
								<input type="submit" value="GO">
							</div>
						</div>
					</form>
					<hr>


					<h3 id="tpromote">Promote an item</h3>
					<p>Promote an item from possibly to maybe</p>
					<form action="/-tpromote" method="post" class="form-horizontal">
						<div class="control-group">
							<label class="control-label" for="pid">Profile id: </label>
							<div class="controls">
								<input type="text" name="pid" size="20" value="iand">
							</div>
						</div>

						<div class="control-group">
							<label class="control-label" for="id">Item id: </label>
							<div class="controls">
								<input type="text" name="id" size="40">
							</div>
						</div>

						<div class="control-group">
							<div class="controls">
								<input type="submit" value="GO">
							</div>
						</div>
					</form>
					<hr>

					<h3 id="tdemote">Demote an item</h3>
					<p>Demote an item from maybe to possibly.</p>
					<form action="/-tdemote" method="post" class="form-horizontal">
						<div class="control-group">
							<label class="control-label" for="pid">Profile id: </label>
							<div class="controls">
								<input type="text" name="pid" size="20" value="iand">
							</div>
						</div>

						<div class="control-group">
							<label class="control-label" for="id">Item id: </label>
							<div class="controls">
								<input type="text" name="id" size="40">
							</div>
						</div>

						<div class="control-group">
							<div class="controls">
								<input type="submit" value="GO">
							</div>
						</div>
					</form>
					<hr>




					<h3 id="taddsuggest">Add a suggested profile</h3>
					<form action="/-taddsuggest" method="post" class="form-horizontal">
						<div class="control-group">
							<label class="control-label" for="pid">Profile id: </label>
							<div class="controls">
								<input type="text" name="pid" size="20" value="nasa">
							</div>
						</div>

						<div class="control-group">
							<label class="control-label" for="loc">Location: </label>
							<div class="controls">
								<input type="text" name="loc" size="20" value="london">
							</div>
						</div>

						<div class="control-group">
							<div class="controls">
								<input type="submit" value="GO">
							</div>
						</div>
					</form>
					<hr>

					<h3 id="tremsuggest">Remove a suggested profile</h3>
					<form action="/-tremsuggest" method="post" class="form-horizontal">
						<div class="control-group">
							<label class="control-label" for="pid">Profile id: </label>
							<div class="controls">
								<input type="text" name="pid" size="20" value="nasa">
							</div>
						</div>

						<div class="control-group">
							<label class="control-label" for="loc">Location: </label>
							<div class="controls">
								<input type="text" name="loc" size="20" value="london">
							</div>
						</div>

						<div class="control-group">
							<div class="controls">
								<input type="submit" value="GO">
							</div>
						</div>
					</form>
					<hr>


				</div>
			</div>
		</div>

	</body>


</html>