  <div id="itemlist"><!-- open page --> 
    
      <div class="main-header"><!-- start header --> 
        <div class="main-topbaritems" style="padding-left:5px;"><i class="icon-ok-circle" style="font-size:28px; color:#fff; position: relative; left: 2px;"></i><i class="icon-time" style="font-size:28px; color:#eee;"></i><span class="main-logo">placetime</span> <span class="main-strapline"> a playlist for your life</span></div> 
        <div class="main-newitem"><a href="#login" id="newbtn"><i class="icon-edit" style="font-size:20px;"></i> new</a></div>
      </div><!-- end header -->
        
      <div class="main-alltimelinecol"><!-- open alltimeline col -->
        <div class="main-alltimelineheader"><!-- open timelineheader -->
        <div class="sort-menu">
        <div>
          <a href="#" id="ets" class="ui-btn-right" data-icon="arrow-u"><i class="icon-circle-arrow-up"></i> calendar</a>
      	  <a href="#" id="ts" class="ui-btn-right" data-icon="arrow-d"><i class="icon-circle-arrow-down"></i> added</a>
        </div>
        </div>
        <div class="main-timelineheadertext"><!-- open headertext --> 
        <div class="main-timelinetitle">Following <span class="main-timelinestrapline"><span style="color:#ff9900;">possible</span> things to do or check out</span></div>
        </div><!-- close headertext -->  
        </div><!-- close timelineheader -->
        <div class="content-primary" id="itemslist">
          <div id="items" class="items"></div>
        </div>
      </div><!-- close alltimeline col -->
        
      <div class="main-mytimelinecol"><!-- open alltimeline col -->
        <div class="main-mytimelineheader"><!-- open timelineheader -->
        <div class="sort-menu">
        <div>
          <a href="#" id="myets" class="ui-btn-right" data-icon="arrow-u"><i class="icon-circle-arrow-up"></i> calendar</a>
          <a href="#"  id="myts" class="ui-btn-right" data-icon="arrow-d"><i class="icon-circle-arrow-down"></i> added</a>
        </div>
        </div>
        <div class="main-timelineheadertext"><!-- open headertext -->
        <div class="main-timelinetitle">My Playlist <span class="main-timelinestrapline">things to <span style="color:#ff9900;">maybe</span> check out</span></div>
        </div><!-- close headertext -->  
        </div><!-- close timelineheader -->
        <div class="content-primary" id="myitemslist">
          <div id="myitems" class="items"></div>
        </div>
      </div><!-- close mytimeline col -->
      
      <div id="footer"><!-- start footer -->      
          <ul>
          <li><a href="#app" data-icon="arrow-l" id="possiblebtn" class="ui-btn-active ui-state-persist">Timelines I follow</a></li>
          <li><a href="#app" data-icon="arrow-r" id="maybebtn">My Timeline</a></li>
          </ul>  
      </div><!-- end footer -->        
    </div><!-- close itemlist -->
