 <section id="login" data-role="content">
  <div class="content-primary">            
    <div class="main-twitterbutton main-h1"><a href="/-twitter" data-role="button" rel="external">Sign in with Twitter</a></div>
    <div class="main-h1">Or login</div>
    <form action="#" method="post">
    <div data-role="fieldcontain">
      <label for="name">User name</label>
      <input type="text" name="pid" id="pid" value=""  />
      <div class="hint"></div>
    </div>

    <div data-role="fieldcontain">
      <label for="name">Password</label>
      <input type="password" name="pwd" id="pwd" value=""  />
      <div class="hint"></div>
    </div>
    
    <input id="Submit1" class="loginBtn" type="submit" value="Login" data-role="button" data-inline="true" />

    </form>

        <div id="registerlink">Don't have an account? <a href="#register">Sign Up</a></div>
  </div>
</section>