    <div class=mytimelinecalitem id="ti-<%= id %>" style="background-image: url(/-img/<%= image %>);">
    <% if (image) { %>
    <div class="main-imageoverlay"><!-- --></div> 
    <% } %>
    <% if (media == "video") { %>
      <!-- video specific markup here -->
    <% } else if (media == "audio") { %>
      <!-- audio specific markup here -->
    <% } else { %>
      <div class="main-itemicon"><img src="/-assets/img/nasa.jpg" width="30px" height="30px"></div>
      <p class="main-itemusername">@<%= pid %></p>
      <p class="main-itemtext"><a class="main-hiddenlink fancymodal fancybox.iframe" href="<%= link %>"><%= text %></a></p>
      <p class="main-itemlink"><a href="<%= link %>" class="roundBtn main-hiddenlink fancymodal fancybox.iframe" data-role="button" rel="external" data-iconpos="notext" data-icon="info" target="_blank"><i class="icon-external-link"></i></a></p>
      <p class="main-itemtime"> <a class="main-hiddenlink fancymodal fancybox.iframe" href="<%= link %>"><i class="icon-time"></i> event: <span class="timestamp"><%= fromnow %></span></a></p>
      <a href="#app" class="<%= action %>btn" class="roundBtn main-hiddenlink" data-iconpos="notext" data-itemid="<%= id %>" data-rel="popup" data-icon="delete" data-position-to="window" data-transition="fade"><i class="icon-remove"></i></a>
    <% } %>
    </div> 
