    <div data-role="header" data-position="fixed">
      <p class="main-h1">Register</p>
    </div>
    <div data-role="content">
      <form action="#" method="post">
      <div data-role="fieldcontain">
        <label for="name">User name</label>
        <input type="text" name="pid" id="pid" value=""  />
        <div class="hint"></div>
      </div>

      <div data-role="fieldcontain">
        <label for="name">Full name</label>
        <input type="text" name="name" id="name" value=""  />
        <div class="hint"></div>
      </div>

      <div data-role="fieldcontain">
        <label for="name">Password</label>
        <input type="text" name="pwd" id="pwd" value=""  />
        <div class="hint"></div>
      </div>
      
      <input id="Submit1" class="submitBtn" type="submit" value="Register" data-role="button" data-inline="true" />
      
      </form>
    </div>