<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Timeline</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"> 

  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
  <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>

  <link rel="stylesheet" href="/-assets/css/main.css"/>



  <script src="/-assets/js/json2.js"></script>
  <script src="/-assets/js/underscore.js"></script>
  <script src="/-assets/js/backbone-min.js"></script>
  <script src="/-assets/js/main.js"></script>


</head>

<body>
  
  <div id="app" data-role="page">
    
    <div data-role="header" data-theme="c">
  <a href="#app" data-role="button" data-theme="c" data-icon="plus" id="newbtn" data-mini="true">New</a>

      <h1>Timeline for @iand</h1>
      
  <a href="#app" data-role="button" data-theme="c" data-icon="grid"  id="calendarbtn" class="ui-btn-right" data-mini="true">Calendar</a>
    </div>

    

    <section id="main" data-role="content">
      <div class="content-primary">
<!--       <button class="nav" id="possiblebtn">possible</button>
      <button class="nav" id="maybebtn">maybe</button>
      <button class="nav" id="newbtn">new</button>
      <button class="nav" id="addedbtn">added</button>
      <button class="nav" id="calendarbtn">calendar</button>
 -->

      <ul id="items" data-role="listview"  data-split-icon="plus" data-split-theme="d" data-autodividers="true">

      </ul>
    </div>
    </section>

    <div data-role="footer" data-id="foo1" data-position="fixed">
      <div data-role="navbar">
        <ul>
          <li><a href="#app" data-role="button" id="possiblebtn" class="ui-btn-active ui-state-persist">Possible</a></li>
          <li><a href="#app" data-role="button" id="maybebtn">Maybe</a></li>
        </ul>
      </div>
    </div>
  </div>
  

  


  <!-- Templates -->


  <script type="text/template" id="itemfeature-template" data-enhance="false">
    <li data-date="<%= date %>"><a>
      <img src="/-assets/img/nasa.jpg">
      <h3>@<%= pid %></h3>
      <p><%= text %></p></a>
      <a href="#app" class="addbtn" data-icon="star" data-itemid="<%= id %>" data-rel="popup" data-position-to="window" data-transition="pop">Add</a>
    </li> 
  </script>

  <script type="text/template" id="item-template" data-enhance="false">
    <li data-date="<%= date %>"><a>
      <img src="/-assets/img/nasa.jpg">
      <h3>@<%= pid %></h3>
      <p><%= text %></p></a>
      <a href="#app" class="addbtn" data-icon="star" data-itemid="<%= id %>" data-rel="popup" data-position-to="window" data-transition="pop">Add</a>
    </li> 
  </script>

  </body>
</html>
