<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Timeline</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"> 

  <link rel="stylesheet" href="/-assets/css/normalize.min.css">

  <!-- Typekit font loader -->
  <script type="text/javascript" src="http://use.typekit.net/bsa5hge.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  
  <link rel="stylesheet" href="/-assets/css/main.css"/>  
  <script src="/-assets/js/vendor/modernizr-2.6.2.min.js"></script>
  <link rel="stylesheet" href="/-assets/css/font-awesome.css">
</head>

<body>
  <div id="itemlist" data-role="page" data-theme="b"><!-- open page --> 
  <div class="main-wrapper"><!-- main-wrapper begins -->
   
      
    <div class="main-header" data-role="header" data-position="fixed" data-theme="a" data-mini="true"><!-- start header --> 
      <div class="main-topbaritems"><i class="icon-arrow-down" style="font-size:28px; color:#ff6600;"></i><span class="main-logo">placetime</span> <span class="main-strapline"> a playlist for your life</span></div>   
    </div><!-- end header -->
       

    <section id="main" data-role="content" data-theme="b"><!-- start content -->
    
      <div class="ui-bar ui-bar-b"><a href="#login" data-role="button" data-icon="plus" id="newbtn" data-inline="true" data-mini="true" data-theme="b"><i class="icon-edit" style="font-size:20px;"></i> new</a></div>
    
    <div class="main-alltimelinecol">
    <div class="main-timelineheader">
    <div class="sort-menu">
    <div data-role="controlgroup" data-type="horizontal" data-mini="true">
      <a href="#" id="ets" class="ui-btn-right" data-role="button" data-icon="arrow-u" data-theme="b"><i class="icon-circle-arrow-up"></i> calendar</a>
  	  <a href="#"  id="ts" class="ui-btn-right" data-role="button" data-icon="arrow-d" data-theme="b"><i class="icon-circle-arrow-down"></i> added</a>
    </div>
    </div>
    <div class="main-timelineheadertext">
    <div class="main-timelinetitle">Following <span class="main-timelinestrapline"><span style="color:#ff9900;">possible</span> things to do or check out</span></div>
    </div><!-- close headertext -->  
    </div><!-- close timelineheader -->
    <div class="content-primary">
      <div id="items" class="items"></div>
    </div>
    </div><!-- close timeline col -->
    
    <div class="main-mytimelinecol">
    <div class="main-timelineheader">
    <div class="sort-menu">
    <div data-role="controlgroup" data-type="horizontal" data-mini="true">
      <a href="#" id="myets" class="ui-btn-right" data-role="button" data-icon="arrow-u" data-theme="b"><i class="icon-circle-arrow-up"></i> calendar</a>
      <a href="#"  id="myts" class="ui-btn-right" data-role="button" data-icon="arrow-d" data-theme="b"><i class="icon-circle-arrow-down"></i> added</a>
    </div>
    </div>
    <div class="main-timelineheadertext">
    <div class="main-timelinetitle">My Playlist <span class="main-timelinestrapline">things to <span style="color:#ff9900;">maybe</span> check out</span></div>
    </div><!-- close headertext -->  
    </div><!-- close timelineheader -->
    <div class="content-primary">
      <div id="myitems" class="items"></div>
    </div>
    </div><!-- close timeline col -->
    </section><!-- end content -->    
        

    <div data-role="footer" data-id="foo1" data-position="fixed" data-theme="a"><!-- start footer -->      
      <div data-role="navbar"><!-- open show only for mobile  --> 
        <ul>
          <li><a href="#app" data-role="button" data-icon="arrow-l" id="possiblebtn" class="ui-btn-active ui-state-persist">Timelines I follow</a></li>
          <li><a href="#app" data-role="button" data-icon="arrow-r" id="maybebtn">My Timeline</a></li>
        </ul>
      </div><!-- close show only for mobile  -->  
    </div><!-- end footer -->
    

</div><!-- close main-wrapper -->    
  </div><!-- close page --> 
  

  <div id="login" data-role="page" class="main-pagewrapper"><!-- page, main-pagewrapper begins -->
  <div class="main-wrapper"><!-- main-wrapper begins -->

  </div><!-- close main-wrapper -->    
  </div><!-- close page --> 


<div id="register" data-role="page" class="main-pagewrapper"><!-- page, main-pagewrapper begins -->
  <div class="main-wrapper"><!-- main-wrapper begins -->

  </div><!-- close main-wrapper -->    
  </div><!-- close page -->  


<!-- Templates -->

  <!-- A template for others items -->
  <script type="text/template" id="tmpl-item" data-enhance="false">
    <div>
    <% if (media == "video") { %>
      <!-- video specific markup here -->
    <% } else if (media == "audio") { %>
      <!-- audio specific markup here -->
    <% } else { %>
      <a><img src="/-assets/img/nasa.jpg" width="50px" height="50px">
      <p class="main-itemusername">@<%= pid %></p>
      <p class="main-itemtext"><%= text %></p>
      <p class="main-itemlink"><a href="<%= link %>" data-role="button" rel="external" data-iconpos="notext" data-icon="info" target="_blank"><i class="icon-external-link"></i> details</a></p>
      <p class="main-itemtime"><i class="icon-time"></i> added: <%= fromnow %></p></a>
      <a href="#app" class="<%= action %>btn" data-iconpos="notext" data-itemid="<%= id %>" data-rel="popup" data-icon="check" data-position-to="window" data-transition="fade"><span class="o-ring">O</span><i class="icon-ok"></i></a>
    <% } %>
    </div> 
  </script>

  <!-- A template for my items -->
  <script type="text/template" id="tmpl-myitem" data-enhance="false">
    <div>
    <% if (media == "video") { %>
      <!-- video specific markup here -->
    <% } else if (media == "audio") { %>
      <!-- audio specific markup here -->
    <% } else { %>
      <a><img src="/-assets/img/nasa.jpg" width="50px" height="50px">
      <p class="main-itemusername">@<%= pid %></p>
      <p class="main-itemtext"><%= text %></p>
      <p class="main-itemlink"><a href="<%= link %>" data-role="button" rel="external" data-iconpos="notext" data-icon="info" target="_blank"><i class="icon-external-link"></i> details</a></p>
      <p class="main-itemtime"><i class="icon-time"></i> added: <%= fromnow %></p></a>
      <a href="#app" class="<%= action %>btn" data-iconpos="notext" data-itemid="<%= id %>" data-rel="popup" data-icon="delete" data-position-to="window" data-transition="fade"><i class="icon-remove"></i></a>

    <% } %>

    </div> 
  </script>

  <!-- A template for others items in calendar view -->
  <script type="text/template" id="tmpl-calitem" data-enhance="false">
    <div>
    <% if (media == "video") { %>
      <!-- video specific markup here -->
    <% } else if (media == "audio") { %>
      <!-- audio specific markup here -->
    <% } else { %>
      <a><img src="/-assets/img/nasa.jpg" width="50px" height="50px">
      <p class="main-itemusername">@<%= pid %></p>
      <p class="main-itemtext"><%= text %></p>
      <p class="main-itemlink"><a href="<%= link %>" data-role="button" rel="external" data-iconpos="notext" data-icon="info" target="_blank"><i class="icon-external-link"></i> details</a></p>
      <p class="main-itemtime"><i class="icon-time"></i> event: <%= fromnow %></p></a>
      <a href="#app" class="<%= action %>btn" data-iconpos="notext" data-itemid="<%= id %>" data-rel="popup" data-icon="check" data-position-to="window" data-transition="fade"><i class="icon-ok"></i></a>
    <% } %>
    </div> 
  </script>


  <!-- A template for my items in calendar view -->
  <script type="text/template" id="tmpl-mycalitem" data-enhance="false">
    <div>
    <% if (media == "video") { %>
      <!-- video specific markup here -->
    <% } else if (media == "audio") { %>
      <!-- audio specific markup here -->
    <% } else { %>
      <a><img src="/-assets/img/nasa.jpg" width="50px" height="50px">
      <p class="main-itemusername">@<%= pid %></p>
      <p class="main-itemtext"><%= text %></p>
      <p class="main-itemlink"><a href="<%= link %>" data-role="button" rel="external" data-iconpos="notext" data-icon="info" target="_blank"><i class="icon-external-link"></i> details</a></p>
      <p class="main-itemtime"><i class="icon-time"></i> event: <%= fromnow %></p></a>
      <a href="#app" class="<%= action %>btn" data-iconpos="notext" data-itemid="<%= id %>" data-rel="popup" data-icon="delete" data-position-to="window" data-transition="fade"><i class="icon-remove"></i></a>
    <% } %>
    </div> 
  </script>


  <!-- login template -->
  <script type="text/template" id="login-template">
    <div data-role="header" data-position="fixed">
      <p class="main-signin">Sign in</p>
    </div>

     <section id="main" data-role="content">
      <div class="content-primary">            
        <div class="main-twitterbutton"><a href="/-twitter" data-role="button" rel="external">Sign in with Twitter</a></div>
        <div>or login</div>
        <form action="#" method="post">
        <div data-role="fieldcontain">
          <label for="name">User name:</label>
          <input type="text" name="pid" id="pid" value=""  />
          <div class="hint"></div>
        </div>

        <div data-role="fieldcontain">
          <label for="name">Password:</label>
          <input type="password" name="pwd" id="pwd" value=""  />
          <div class="hint"></div>
        </div>
        
        <input id="Submit1" class="loginBtn" type="submit" value="Login" data-role="button" data-inline="true" />

        </form>

        <div>Don't have an account? <a href="#register">Sign Up</a></div>
      </div>
    </section>
  </script>

  <!-- register template -->
  <script type="text/template" id="register-template">
    <div data-role="header" data-position="fixed">
      <p class="main-h1">Register</p>
    </div>
    <div data-role="content">
      <form action="#" method="post">
      <div data-role="fieldcontain">
        <label for="name">User name:</label>
        <input type="text" name="pid" id="pid" value=""  />
        <div class="hint"></div>
      </div>

      <div data-role="fieldcontain">
        <label for="name">Full name:</label>
        <input type="text" name="name" id="name" value=""  />
        <div class="hint"></div>
      </div>

      <div data-role="fieldcontain">
        <label for="name">Password:</label>
        <input type="text" name="pwd" id="pwd" value=""  />
        <div class="hint"></div>
      </div>
      
      <input id="Submit1" class="submitBtn" type="submit" value="Register" data-role="button" data-inline="true" />

      </form>
    </div>
  </script>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/-assets/js/vendor/jquery-1.8.3.min.js"><\/script>')</script>
  <script src="/-assets/js/json2.js"></script>
  <script src="/-assets/js/underscore.js"></script>
  <script src="/-assets/js/backbone-min.js"></script>
  <script src="/-assets/js/moment.min.js"></script>
  <script src="/-assets/js/main.js"></script>

  </body>
</html>

