<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Timeline</title>
  <link rel="stylesheet" href="/-assets/css/main.css"/>
</head>

<body>
  
  <div id="app">
    
    <header>

      <h1>Timeline</h1>
      
    </header>

    

    <section id="main">
      <button class="nav">possible</button>
      <button class="nav">maybe</button>
      <button class="nav">new</button>
      <button class="nav">added</button>
      <button class="nav">calendar</button>

      <div id="items">
      </div>

    </section>

    <footer>

    </footer>
    
  </div>
  

  

  <script src="/-assets/js/json2.js"></script>
  <script src="/-assets/js/jquery-min.js"></script>
  <script src="/-assets/js/underscore.js"></script>
  <script src="/-assets/js/backbone-min.js"></script>
  <script src="/-assets/js/main.js"></script>

  <!-- Templates -->


  <script type="text/template" id="itemfeature-template">
    <div class="item feature">
      <div class="profile">
        <img src="/-assets/img/nyan.jpg" width="96" height="96"><br>
        <button id="followbtn">follow</button>
      </div>
      <div class="detail">
        <div class="pid">BLAH @<%= pid %></div>
        <div class="text"><%= text %></div>
        <div class="link"><a href="<%= link %>"><%= link %></a></div>
        <button class="addbtn">add</button>
      </div>
    </div>
  </script>

  <script type="text/template" id="item-template">
    <div class="item">
      <div class="profile">
        <img src="/-assets/img/nyan.jpg" width="64" height="64">
      </div>
      <div class="detail">
        <div class="pid">@<%= pid %></div>
        <div class="text"><%= text %></div>
        <div class="link"><a href="<%= link %>"><%= link %></a></div>
        <button class="addbtn">add</button>
      </div>
    </div>
  </script>

  </body>
</html>
