.container.login {
  height: 110px;
  left: 50%;
  margin-left: -179px;
  margin-top: -40px;
  position: absolute;
  top: 50%;
  text-align: center;
  width: 358px;
}
.container.login .twitter a {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  background-color: #ff6600;
  color: #fff;
  display: inline-block;
  padding: 12px 15px 12px;
  text-decoration: none;
}
.container.login .twitter a .icon-twitter {
  color: #1ab7ea;
  font-size: 20px;
  text-decoration: none;
}
.container.login .register,
.container.login .login {
  text-align: center;
}
.container.login .register a,
.container.login .login a {
  background-color: rgba(170, 170, 170, 0.8);
  padding: 3px 4px;
}
.container.login .hint {
  padding-left: 136px;
  text-align: left;
}
.container.login .form {
  display: none;
}
