@import 'compass';
@import 'form';
@import 'content';

html,
body {
    height: 100%;
    overflow: hidden;
    width: 100%;
}

body {
    background-color: #deddd8;
}

a {
    text-decoration: none;
}


.container {
    margin: 0 auto;
    width: 960px;
}


.navbar {
    @include single-box-shadow(#888888, 0px, 4px, 5px);
    background-color: #aaaaaa;
    border-bottom: 8px solid #ccc;
    height: 45px;
    margin-bottom: 20px;
    width: 100%;

    .navbar-inner {
        overflow: hidden;
    }

    .brand {
        color: #ffffff;
        font-size: 23px;
        padding-top: 8px;

        .icon-ok-circle,
        .icon-time {
            color: #555555;
            font-size: 30px;
            float: left;
            margin-top: 0px;
        }

        .icon-time {
            margin-right: 20px;
        }
    }

    .tagline {
        color: #ededed;
        font-size: 14px;
        margin: 16px 0 0 25px;
    }

    .nav {
        list-style: none;
        margin: 5px 0 0;
        padding: 0;

        .icon-cog {
            cursor: pointer;
            font-size: 33px;
        }

        [class^="icon-"] {
            width: 1em;
        }
    }

    .dropdown {
        .icon-edit,
        .icon-signout {
            font-size: 20px;
        }
    }
}


.pull-left {
    float: left;
}

.pull-right {
    float: right;
}