<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Typekit font loader -->
        <script type="text/javascript" src="http://use.typekit.net/bsa5hge.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

        <script src="/-assets/javascripts/vendor/modernizr.js"></script>

        <link rel="stylesheet" href="/-assets/stylesheets/vendor.css">
        <link rel="stylesheet" href="/-assets/stylesheets/user.css">

        <title>PlaceTime - Timeline</title>
    </head>
    <body>


        <div class="page header"></div>
        <div class="page content"></div>


        <script type="text/template" id="header-template">
            <div class="navbar-inner container">
                <a class="brand pull-left" href="/">
                    <i class="icon-ok-circle"></i>
                    <i class="icon-time"></i>
                    placetime
                </a>

                <a class="tagline pull-left" href="/">a playlist for your life</a>

                <% if (pid !== undefined) { %>
                <ul class="nav pull-right">
                    <li>
                        <a data-dropdown=".navbar .dropdown">
                            <i class="icon-cog"></i>
                        </a>
                    </li>
                </ul>
                <% } %>

                <div class="dropdown dropdown-tip dropdown-anchor-right">
                    <ul class="dropdown-menu">
                        <li>
                            <a class="main-hiddenlink" href="#new">
                                <i class="icon-edit"></i>
                                new
                            </a>
                        </li>
                        <li>
                            <a class="main-hiddenlink" href="#profile">
                                <i class="icon-user"></i>
                                @<%= pid %>
                            </a>
                        </li>
                        <li>
                            <a class="main-hiddenlink" href="#logout">
                                <i class="icon-signout"></i>
                                logout
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </script>


        <script type="text/template" id="login-template">
            <p>
                <a href="/-twitter" data-role="button" rel="external">
                    Sign in with Twitter
                </a>
            </p>

            <h1>Or login</h1>
            <form action="#" method="post">
                <div class="field">
                    <label for="name">User name</label>
                    <input type="text" name="pid" id="pid" value="">
                    <div class="hint"></div>
                </div>

                <div class="field">
                    <label for="name">Password</label>
                    <input type="password" name="pwd" id="pwd" value="">
                    <div class="hint"></div>
                </div>

                <input type="submit" value="Login">
            </form>

            <p>
                Dont have an account? <a href="#register">Sign Up</a>
            </p>
        </script>


        <script type="text/template" id="register-template">
            <h1>Register</h1>
            <form action="#" method="post">
                <div class="field">
                    <label for="name">User name</label>
                    <input type="text" name="pid">
                    <div class="hint"></div>
                </div>

                <div class="field">
                    <label for="name">Full name</label>
                    <input type="text" name="name">
                    <div class="hint"></div>
                </div>

                <div class="field">
                    <label for="name">Password</label>
                    <input type="text" name="pwd">
                    <div class="hint"></div>
                </div>

                <input type="submit" value="Register">
            </form>
        </script>


        <script type="text/template" id="load-more-template">
            Load more
        </script>


        <script type="text/template" id="no-results-template">
            No more results
        </script>


        <script type="text/template" id="item-template">
            <% if (image) { %>
                <div class="main-imageoverlay"><!-- --></div>
            <% } %>

            <% if (media == "video") { %>
            <!-- video specific markup here -->
            <% } else if (media == "audio") { %>
            <!-- audio specific markup here -->
            <% } else { %>
                <div class="icon pull-left">
                    <img src="/-assets/images/nasa.jpg" width="30" height="30">
                </div>
                <p class="username pull-left">@<%= pid %></p>
                <p class="text pull-left">
                    <a class="fancymodal fancybox.iframe" href="<%= link %>">
                        <%= text %>
                    </a>
                </p>
                <p class="time pull-left">
                    <a class="main-hiddenlink fancymodal fancybox.iframe" href="<%= link %>">
                        <% if (order === 'ets') { %>
                            <i class="icon-time"></i> event:
                            <span class="timestamp"><%= moment(ets).fromNow() %></span>
                        <% } else { %>
                            <i class="icon-time"></i> added:
                            <span class="timestamp"><%= moment(ts).fromNow() %></span>
                        <% } %>
                    </a>
                </p>
                <p class="link pull-left">
                    <a href="<%= link %>" class="fancymodal fancybox.iframe" data-role="button" rel="external" data-iconpos="notext" data-icon="info" target="_blank">
                        <i class="icon-external-link"></i>
                    </a>
                </p>

                <% if (status === 'm') { %>
                    <a class="button demote">
                        <i class="icon-remove"></i>
                    </a>
                <% } else { %>
                    <a class="button promote">
                        <i class="icon-ok"></i>
                    </a>
                <% } %>
            <% } %>
        </script>





        <script type="template/text" id="timeline-template">
        <% if (status === 'p') { %>
            <div class="timeline public">
        <% } else { %>
            <div class="timeline private">
        <% } %>
                <div class="header">
                    <h2 class="title pull-left">Following</h2>
                    <p class="tagline pull-left">
                        <em>possible</em> things to do or check out
                    </p>

                    <ul class="nav nav-inline pull-right">
                        <li>
                            <a class="now">
                                <i class="icon-repeat"></i> now
                            </a>
                        </li>
                        <li>
                            <a class="ets">
                                <i class="icon-circle-arrow-up"></i> event
                            </a>
                        </li>
                        <li>
                            <a class="ts">
                                <i class="icon-circle-arrow-down"></i> added
                            </a>
                        </li>
                    </ul>
                </div>


                <div class="items">
                    <div class="scroller">
                        <div class="children"></div>
                    </div>
                </div>
                <div class="needle">
                    <div class="date">Now</div>
                </div>
            </div>
        </script>

        <script type="text/template" id="timelines-template">
            <div data-subview="publicTimeline"></div>
            <div data-subview="privateTimeline"></div>
        </script>


        <script src="/-tmpl"></script>
        <script src="/-assets/javascripts/vendor.js"></script>
        <script src="/-assets/javascripts/application.js"></script>

        <script type="text/javascript">
        Application.start({
            router: 'user'
        });
        </script>
    </body>
</html>