<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Typekit font loader -->
        <script type="text/javascript" src="http://use.typekit.net/bsa5hge.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

        <script src="/-assets/javascripts/vendor/modernizr.js"></script>

        <link rel="stylesheet" href="/-assets/stylesheets/vendor.css"/>
        <link rel="stylesheet" href="/-assets/stylesheets/user.css"/>

        <title>PlaceTime - Timeline</title>
    </head>
    <body>

        <div id="header"></div>
        <div id="content"></div>


        <script type="text/template" id="header-template">
            <div id="main-topbaritems">
                <div id="main-lefttopbaritems">
                    <a href="/" class="main-hiddenlink" >
                        <i class="icon-ok-circle" style="font-size:32px; color:#555; position: relative; left: 2px; top: 4px;"></i>
                        <i class="icon-time" style="font-size:32px; color:#555; position: relative; top:4px;"></i>

                        <span class="main-logo">placetime</span>
                        <span class="main-strapline"> a playlist for your life</span>
                    </a>
                </div>
                <div id="main-righttopbaritems">
                    <a class="main-hiddenlink" href="#" data-dropdown="#dropdown-1">
                        <i class="icon-cog" style="font-size:33px;"></i>
                    </a>
                </div>
            </div>


            <div id="dropdown-1" class="dropdown dropdown-tip dropdown-anchor-right">
                <ul class="dropdown-menu">
                    <li>
                        <a class="main-hiddenlink" href="#new" id="newbtn">
                            <i class="icon-edit" style="font-size:20px;"></i>
                            new
                        </a>
                    </li>
                    <li>@  <%= pid %></li>
                    <li>
                        <a class="main-hiddenlink" href="#logout" id="logoutbtn">
                            <i class="icon-signout" style="font-size:20px;"></i>
                            logout
                        </a>
                    </li>
                </ul>
            </div>
        </script>


        <script type="text/template" id="login-template">
            <section id="login" data-role="content">
                <div class="content-primary">
                    <div class="main-twitterbutton main-h1">
                        <a href="/-twitter" data-role="button" rel="external">
                            Sign in with Twitter
                        </a>
                    </div>
                    <div class="main-h1">Or login</div>

                    <form action="#" method="post">
                        <div data-role="fieldcontain">
                            <label for="name">User name</label>
                            <input type="text" name="pid" id="pid" value=""  />
                            <div class="hint"></div>
                        </div>

                        <div data-role="fieldcontain">
                            <label for="name">Password</label>
                            <input type="password" name="pwd" id="pwd" value=""  />
                            <div class="hint"></div>
                        </div>

                        <input id="Submit1" class="loginBtn" type="submit" value="Login" data-role="button" data-inline="true" />
                    </form>


                    <div id="registerlink">
                        Dont have an account? <a href="#register">Sign Up</a>
                    </div>
                </div>
            </section>
        </script>


        <script type="text/template" id="register-template">
            <div data-role="header" data-position="fixed">
                <p class="main-h1">Register</p>
            </div>

            <div data-role="content">
                <form action="#" method="post">
                    <div data-role="fieldcontain">
                        <label for="name">User name</label>
                        <input type="text" name="pid" id="pid" value=""  />
                        <div class="hint"></div>
                    </div>

                    <div data-role="fieldcontain">
                        <label for="name">Full name</label>
                        <input type="text" name="name" id="name" value=""  />
                        <div class="hint"></div>
                    </div>

                    <div data-role="fieldcontain">
                        <label for="name">Password</label>
                        <input type="text" name="pwd" id="pwd" value=""  />
                        <div class="hint"></div>
                    </div>

                    <input id="Submit1" class="submitBtn" type="submit" value="Register" data-role="button" data-inline="true" />
                </form>
            </div>
        </script>


        <script type="text/template" id="item-template">
            <div class="mytimelineitem" data-id="<%= id %>" style="background-image: url(/-img/<%= image %>);">
                <% if (image) { %>
                    <div class="main-imageoverlay"><!-- --></div>
                <% } %>

                <% if (media == "video") { %>
                <!-- video specific markup here -->
                <% } else if (media == "audio") { %>
                <!-- audio specific markup here -->
                <% } else { %>
                    <div class="main-itemicon">
                        <img src="/-assets/img/nasa.jpg" width="30" height="30">
                    </div>
                    <p class="main-itemusername">@<%= pid %></p>
                    <p class="main-itemtext">
                        <a class="main-hiddenlink fancymodal fancybox.iframe" href="<%= link %>">
                            <%= text %>
                        </a>
                    </p>
                    <p class="main-itemlink">
                        <a href="<%= link %>" class="roundBtn main-hiddenlink fancymodal fancybox.iframe" data-role="button" rel="external" data-iconpos="notext" data-icon="info" target="_blank">
                            <i class="icon-external-link"></i>
                        </a>
                    </p>
                    <p class="main-itemtime">
                        <a class="main-hiddenlink fancymodal fancybox.iframe" href="<%= link %>">
                            <i class="icon-time"></i> added:
                            <span class="timestamp"><%= fromnow %></span>
                        </a>
                    </p>

                    <% if (action === 'demote') { %>
                        <a class="button demote">
                            <i class="icon-remove"></i>
                        </a>
                    <% } else { %>
                        <a class="button promote">
                            <i class="icon-ok"></i>
                        </a>
                    <% } %>
                <% } %>
            </div>
        </script>





        <script type="template/text" id="timeline-private-template">
            <% if (status == 'm') { %>
            <div class="main-mytimelinecol">
            <% } else { %>
            <div class="main-timelinecol">
            <% } %>
                <div class="content-primary" id="itemslist">
                    <div class="items"></div>
                    <div class="now">
                        <span>Now</span>
                    </div>
                </div>
            </div>
        </script>



        <script type="text/template" id="timeline-template">
            <div id="itemlist">
                <div class="main-alltimelineheaderwrapper">
                    <div class="main-alltimelineheader">
                      <div class="sort-menu">
                        <div>
                          <a href="#" id="now" class="ui-btn-right main-hiddenlink">
                              <i class="icon-repeat"></i> now
                          </a>
                          <a href="#" id="ets" class="ui-btn-right main-hiddenlink">
                              <i class="icon-circle-arrow-up"></i> event
                          </a>
                          <a href="#" id="ts" class="ui-btn-right main-hiddenlink">
                              <i class="icon-circle-arrow-down"></i> added
                          </a>
                        </div>
                      </div>
                      <div class="main-timelineheadertext">
                        <div class="main-timelinetitle">
                          Following <span class="main-timelinestrapline"><span style="color:#000;">possible</span> things to do or check out</span>
                        </div>
                      </div>
                    </div>

                    <div class="main-mytimelineheader">
                      <div class="sort-menu">
                        <div>
                          <a href="#" id="now" class="ui-btn-right main-hiddenlink"><i class="icon-repeat"></i> now</a>
                          <a href="#" id="myets" class="ui-btn-right main-hiddenlink"><i class="icon-circle-arrow-up"></i> event</a>
                          <a href="#" id="myts" class="ui-btn-right main-hiddenlink"><i class="icon-circle-arrow-down"></i> added</a>
                        </div>
                      </div>
                      <div class="main-timelineheadertext">
                        <div class="main-timelinetitle">
                          My Playlist <span class="main-timelinestrapline">things to <span style="color:#000;">maybe</span> check out</span>
                        </div>
                      </div>
                    </div>
                  </div>


                  <div style="clear:both;"></div>


                  <div class="main-timelinewrapper">
                      <div data-subview="publicTimeline"></div>
                      <div data-subview="privateTimeline"></div>
                  </div>
            </div>
        </script>


        <script src="/-tmpl"></script>
        <script src="/-assets/javascripts/vendor.js"></script>
        <script src="/-assets/javascripts/application.js"></script>

        <script type="text/javascript">
        Application.start({
            router: 'user'
        });
        </script>
    </body>
</html>