<p>
    {{#if loading }}
        <span>Loading following</span>
        <img alt="Loading" class="loading" src="/-assets/images/vendor/jquery/fancybox/fancybox_loading.gif" height="24" width="24" />
    {{else}}
        You have no following
    {{/if}}
</p>