<p class="login-twitter">
    <a href="/-twitter" data-role="button" rel="external">
        <i class="icon icon-twitter"></i>
        Sign in with Twitter
    </a>
</p>

<p class="login-login">
    <a href="#login">Or login / Sign up</a>
</p>

<form class="form login-form">
    <div class="form-field">
        <label for="name">User name</label>
        <input type="text" name="pid" id="pid" value="" required="required">
        <div class="form-hint"></div>
    </div>

    <div class="form-field">
        <label for="name">Password</label>
        <input type="password" name="pwd" id="pwd" value="" required="required">
        <div class="form-hint"></div>
    </div>

    <div class="form-error"></div>

    <input type="submit" value="Login" class="wide">

    <p class="login-register">
        <a href="#register">Dont have an account? Sign Up</a>
    </p>
</form>