<div class="now-separator-future">
    {{#is status 'm'}}
        My upcoming
    {{else}}
        Upcoming
    {{/is}}
</div>

<div class="now-separator-past">
    {{#is status 'm'}}
        My latest
    {{else}}
        Latest
    {{/is}}
</div>