<div class="overlay"></div>

{{> sashes }}

{{> notifications }}

{{> icon }}

{{> username }}

{{> title }}

{{> duration }}

{{> via }}

<p class="time pull-left">
    <a class="fancybox fancybox.iframe" href="{{ link }}">
        {{#ifHasEvent event}}
            <i class="icon-calendar"></i> <span class="event">event:</span>
            <span class="timestamp">{{ fromNow event }}</span>
        {{/ifHasEvent}}
        <a class="item-url" href="{{ urlItem id }}">link</span>
    </a>
</p>


<a class="button button-add">
    <i class="icon-ok"></i>
</a>