{{#if loading}}
    <span>Loading suggestions</span>
    <img alt="Loading" class="loading" src="/-assets/images/vendor/jquery/fancybox/fancybox_loading.gif" height="24" width="24" />
{{else}}
    <span>No suggestions</span>
{{/if}}