{{#is status 'p'}}
<div class="timeline timeline-public">
{{else}}
<div class="timeline timeline-private">
{{/is}}
    <div class="timeline-header"></div>
    <div class="timeline-collection"></div>
</div>