<h2>Email Address</h2>

<form class="form">
    <div class="field">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" value="{{ email }}" required="required">
    </div>

    <div class="field">
        <input type="submit" value="Save">
    </div>
</form>